// Site header styles
// --------------------------------------------------

.site-header {
    background-color: $site-header-bg-color;
    height: 60px;
    @include transition(width 0.5s ease);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    @media screen and (min-width: $screen-sm-min) {
        height: 80px;
    }
}

.user-info {
    background-color: $user-info-bg-color;
    box-sizing: border-box;
    color: white;
    height: 60px;
    padding: 6px;
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    z-index: 1;
    @media screen and (max-width: $screen-xs){
        cursor: pointer;
    }
    @media screen and (min-width: $screen-xs-min) {
        width: 85px;
    }
    @media screen and (min-width: $screen-sm-min) {
        height: 80px;
        padding: 10px;
        width: 100px;
    }
    .user-icon {
        border-radius: 100%;
        float: none;
        height: 34px;
        margin: 0 auto;
        text-align: center;
        width: 34px;
        @media screen and (min-width: $screen-sm-min) {
            height: 40px;
            width: 40px
        }
        img {
            height: 34px;
            width: 34px;
            @media screen and (min-width: $screen-sm-min) {
                height: 40px;
                width: 40px
            }
        }
    }
    .user-name {
        display: none;
        font-size: $font-size-small;
        font-weight: $semi-bold;
        margin: 15px 0 0 10px;
        text-align: center;
        @media screen and (min-width: $screen-xs-min) {
            margin: 10px 0 0 10px;
        }
    }
    .menu-label, .hide-menu {
        display: block;
        font-size: 1.6vmax;
        font-weight: $bold;
        margin-top: 4px;
        text-align: center;
        @media screen and (min-width: $screen-xs-min) {
            font-size: 10px;
            margin-left: -10px;
        }
        @media screen and (min-width: $screen-sm-min) {
            font-size: $font-size-small;
            margin-top: 5px;
            margin-left: 0px;
        }
    }
    .hide-menu {
        display: none;
    }
}

.main-nav-opened { // when the offcanvas menu is opened
    .user-info {
        width: 245px;
        @media screen and (min-width: $screen-sm-min) {
            padding: 20px 25px;
        }
        .user-icon {
            float: left;
            margin: 0 5px;
        }
        .user-name {
            display: block;
        }
        .menu-label {
            display: none;
        }
        .hide-menu {
            display: block;
        }
    }
}

.site-logo {
    height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    @media screen and (min-width: $screen-sm-min) {
        height: 80px;
        left: 100px;
    }
    h1 {
        margin: 0;
        height: 100%;
        width: 100%;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    img {
        margin: 10px;
        max-height: calc(100% - 20px);
    }
}

.main-nav-opened { // when the offcanvas menu is opened
    .site-logo {
        display: none;
        @media screen and (min-width: $screen-xs-min) {
            display: block;
            left: 270px;
            text-align: left;
        }
        @media screen and (min-width: $screen-sm-min) {
            display: block;
            left: 250px;
            text-align: center;
        }
    }
}

.user-tools {
    @extend %list-inline;
    position: absolute;
    right: 8px;
    top: 17px;
    @media screen and (min-width: $screen-sm-min) {
        right: 15px;
        top: 20px;
    }
    li {
        margin-left: 10px;
        @media screen and (min-width: $screen-xs-min) {
            margin-left: 15px;
        }
    }
    a {
        display: inline-block;
        font-size: 1.6vmax;
        font-weight: $bold;
        line-height: 120%;
        text-align: center;
        @include link-hover(#9b9b9b,#9b9b9b,transparent,#9b9b9b);
        border-bottom-width: 2px !important;
        @media screen and (min-width: $screen-xs-min) {
            font-size: $font-size-small;
        }
        &:before {
            display: block;
            font-size: 24px;
            @media screen and (min-width: $screen-xs-min) {
                font-size: $font-size-large;
                margin-bottom: 5px;
            }
        }
        &.active {
            @include link-hover(#1565B6,#1565B6,transparent,#1565B6);
        }
    }
    .chat, .notifications {
        position: relative;
    }
    .chat {
        @extend %icon-chat;
        .bubble {
            @media screen and (min-width: $screen-sm-min) {
                top: -5px;
                right: -5px;
            }
        }
    }
    .notifications {
        @extend %icon-notifications;
        .bubble {
            @media screen and (min-width: $screen-sm-min) {
                top: -5px;
                right: 18px;
            }
        }
    }
}

.notifications-panel {
    min-width: 320px;
    max-width: 420px;
    position: fixed;
    right: 0;
    top: 61px;
    z-index: 1100;
    @media screen and (min-width: $screen-sm-min) {
        right: 19px;
        top: 80px;
    }
    &:before {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $gray-light;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        right: 3px;
        top: -15px;
        @media screen and (min-width: $screen-xs-min) {
            top: -10px;
        }
        @media screen and (min-width: $screen-sm-min) {
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid $gray-light;
            right: 15px;
            top: -20px;
        }
    }
    .notifications-title {
        background-color: $gray-light;
        color: #fff;
        font-family: $font-family-sans-serif;
        font-size: $font-size-small;
        font-weight: $bold;
        margin: 0;
        padding: 10px;
    }
    .notifications-list {
        background-color: #fff;
        list-style: none;
        height: auto;
        max-height: 490px;
        margin-bottom: 0;
        overflow: auto;
        padding: 0;
        .notifications-item {
            border-bottom: 1px solid rgba($gray-light,0.3);
            font-size: 11px;
            overflow: hidden;
            padding: 10px;
            &.not-read {
                background-color: rgba($gray-light,0.15);
            }
            a {
                font-weight: $bold;
                @include link-hover($gray-dark,$gray-dark,transparent,$gray-dark);
            }
            .icon {
                border-radius: 100%;
                display: block;
                float: left;
                height: 40px;
                width: 40px;
                img {
                    border-radius: 100%;
                    height: 40px;
                    width: 40px;
                }
            }
            .info, .date {
                display: block;
                margin-left: 50px;
            }
            .date {
                color: $gray;
            }
        }
    }
    .see-more {
        background-color: $gray-lighter;
        box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.3);
        color: $gray;
        display: block;
        font-size: 11px;
        font-weight: $bold;
        line-height: 11px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
    }
}
