<div class="container-fluid">
    <div id="certificate-container" class="certificate-container">
        <div class="certificate-logos">
            <div class="institute-logo">
                <img src="{{ cert_template.certificate_template.base_logo_url }}" alt="" class="sindesep">
            </div>    
            <!-- <img src="{{ cert_template.site_logo_url }}" alt="{{ cert_template.site_logo_url }}" class="paralapraca">
            <div class="certificate-logo">
                <img alt="" src="{{ cert_template.certificate_template.cert_logo_url }}">
            </div> -->
        </div>
        <div class="certificate-title">Certificado</div>
        <div class="certificate-info">
            <p>Certificamos, para os devidos fins, que</p>
            <p class="student">{{ object.course_student.user.name }}</p>

            <p>RF: {{ object.course_student.user.baquara_seedprofile.rf }}</p>
            {{ cert_template.text | safe }}
        </div>
        <footer>
            <div class="certificates-signatures">
                <div class="coordinator-section">
                    <div class="certificate-signature">
                        <img alt="Signature" src="/static/img/assinatura-sergio.png">
                    </div>
                    <p class="name-coordinator">Segio Antiqueira</p>
                    <p class="role-coordinator">Presidente
                        
                    </p>
                </div>
                <div class="coordinator-section">
                    {% if cert_template.certificate_template.signature_url %}
                    <div class="certificate-signature">
                        <img alt="Signature" src="{{ cert_template.certificate_template.signature_url }}">
                    </div>
                    {% endif %}
                    <p class="name-coordinator">{{ cert_template.certificate_template.name }}</p>
                    <p class="role-coordinator">{{ cert_template.certificate_template.role }}</p>
                </div>
            </div>
            <div >
                <p><b>Emitido em:</b> {{ object.modified_date | date:"d/m/Y" }}</p>
                <p><b>Realizado em:</b> https://baquara_seed.com.br</p>
                <p><b>URL de validação:</b> <a href="{% url 'courses_legacy:certificate' object.link_hash %}">https://baquara_seed.com.br/{% url 'courses_legacy:certificate' object.link_hash %}</a></p>
            </div>
        </footer>
    </div>
</div>
