{% load i18n %}
{% load timtec_markdown %}
{% load get_current_class %}

<section class="instructors" id="instructors-info">
    {% get_current_class course as current_class %}

    {% if current_class.assistant %}
    <div class="secondary-page-header">
        <h3><i class="fa fa-angle-double-right"></i> Professor Assistente</h3>
    </div>
    {% with course_assistant_professor=current_class.assistant %}
        <div {% if course_assistant_professor.user %}id="{{ course_assistant_professor.username }}"{% endif %} class="instructor">
            <div class="instructor-photo">
                <img src="{{ course_assistant_professor.get_picture_url }}" class="img-thumbnail">
            </div>
            <h4 class="fullname bottom top">{{ course_assistant_professor.get_full_name }}</h4>
            <p>{{ course_assistant_professor.biography|timtec_markdown }}</p>
        </div>
    {% endwith %}
    {% endif %}

</section>
