<div class="form-group">
    <label class="col-lg-4 control-label">Sou</label>
    <div class="col-lg-8">
        <select class="form-control" name="occupation">
            <option>Apoio pedagógico</option>
            <option>Formador/a</option>
            <option>Diretor/a</option>
            <option>Coordenador/a pedagógico</option>
            <option>Equipe Técnica</option>
            <option>Outro</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-4 control-label">Quero falar sobre</label>
    <div class="col-lg-8">
        <select class="form-control" name="subject">
            <option>Dúvidas sobre o uso da Plataforma</option>
            <option>Dúvidas sobre o conteúdo</option>
            <option>Dúvidas sobre a Formação Continuada</option>
            <option>Problemas no acesso à plataforma</option>
            <option>Certificados</option>
            <option>Sugestões, elogios ou reclamações</option>
            <option>Outros assuntos</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-4 control-label">Nome</label>
    <div class="col-lg-8">
        <input required type="text" class="form-control" name="name">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-4 control-label">Email</label>
    <div class="col-lg-8">
        <input required type="email" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-4 control-label">Mensagem</label>
    <div class="col-lg-8">
        <textarea required class="form-control" rows="6" name="message"></textarea>
    </div>
</div>
