{% load i18n %}
{% load timtec_markdown %}

<section class="instructors" id="instructors-info">

    {% if in_admin %}
        <div class="secondary-page-header">
            <h3><i class="fa fa-angle-double-right"></i> Autores do módulo</h3>
        </div>

        <div class="instructors organizing-instructors" ng-show="organizingInstructors" sortable="courseProfessors" on-update="repositionInstructors()">

            <div class="instructor" ng-repeat="professor in courseProfessors">
                <!-- <span class="handle"><div class="btn btn-default sort"><span class="sr-only">ordenar</span></div></span> -->
                <span class="title" ng-bind="professor.name || professor.user_info.name">Nome</span>
            </div>
            <div class="submit">
                <button class="btn btn-sm btn-danger btn-inverse delete" ng-click="organizingInstructors=false">Fechar</button>
                <button class="btn btn-sm btn-primary btn-inverse save" ng-click="save_all_instructors()">Salvar</button>
            </div>
        </div>

        <!-- INSTRUCTOR -->
        <div class="instructor" ng-repeat="professor in courseProfessors" ng-hide="organizingInstructors">
            <a class="instructor-wrapper" href="" ng-click="open_professor_modal(professor)">
                <div class="instructor-photo">
                    {% verbatim %}
                    <img ng-src="{{ professor.get_picture_url || professor.user_info.image || '/static/img/avatar-default.png'}}">
                    {% endverbatim %}
                </div>
                <h4 class="fullname" ng-bind="professor.name || professor.user_info.name">Nome</h4>
                {% verbatim %}
                <p class="editable editable-text-box" ng-bind-html="(professor.biography || professor.user_info.biography)|markdown"></p>
                {% endverbatim %}
                <button class="btn btn-sm btn-danger btn-inverse delete" ng-click="delete_instructor(professor)">Excluir</button>
            </a>
        </div>
        <!-- END INSTRUCTOR -->

        <br>
        <a ng-click="open_professor_modal()" class="btn btn-sm btn-primary btn-inverse add">Adicionar autor</a>
        <!-- <a href="" ng-click="organizingInstructors=true" ng-hide="organizingInstructors" class="btn btn-sm btn-primary btn-inverse sort">Ordenar</a> -->
    {% else %}
        {% if course.course.course_authors.all %}
        <div class="secondary-page-header">
            <h3><i class="fa fa-angle-double-right"></i>Instrutores</h3>
        </div>

        {% for course_professor in course.course.course_authors.all %}
            <div {% if course_professor.user %}id="{{ course_professor.user.username }}"{% endif %} class="instructor">
                <div class="instructor-photo">
                    <img src="{{ course_professor.get_picture_url }}" class="img-thumbnail">
                </div>
                <h4 class="fullname">{{ course_professor.get_name }}</h4>
                <p>{{ course_professor.get_biography|timtec_markdown }}</p>
            </div>
        {% endfor %}
        {% endif %}
    {% endif %}

</section>
