{% load timtec_markdown %}
        <nav class="lesson-units hidden-xs">
            <div class="lesson-list-dropdown">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                    <!--<span class="lesson-breadcrumb">-->
                        <!--você está na <b>Aula 2 de 5 | Unidade 2 de 3:</b>-->
                    <!--</span>-->
                    <span class="lesson-breadcrumb">
                        você está na Etapa:
                    </span>
                    <span class="lesson-name">
                        <b>{{ lesson.name }}</b>
                    </span>
                </button>
                <ul class="dropdown-menu">
                    {% for list_lesson in lesson.course.public_lessons %}
                        <li><a href="{% url 'courses_legacy:lesson' list_lesson.course.slug list_lesson.slug %}"><b>Etapa {{ forloop.counter }} de {{ lesson.course.public_lessons|length }}: </b> {{ list_lesson.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <!-- LESSON NAVIGATION FOR PHONE -->
        <div class="lesson-units-mobile visible-xs">
            <span class="lesson-breadcrumb">
                etapa
            </span>
            <select onchange="document.location=this.value" class="form-control">
                {% for list_lesson in lesson.course.public_lessons %}
                    <option value="{% url 'courses_legacy:lesson' list_lesson.course.slug list_lesson.slug %}" {% if list_lesson.name == lesson.name %}selected{% endif %}>{{ list_lesson.name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- END LESSON NAVIGATION FOR PHONE -->

        <!-- UNITS NAVIGATION FOR PHONES -->
        <div class="lesson-units-mobile visible-xs">
            {% verbatim %}
            <span class="lesson-breadcrumb">
                unidade
            </span>
            <select class="form-control" ng-model="selectedIndex" ng-change="locationChange(selectedIndex)">
                <option ng-repeat="unit in lesson.units" ng-value="$index+1" ng-selected="unit.id==currentUnit.id" value="{{$index+1}}">{{ unit.title }}</option>
            </select>
            {% endverbatim %}
        </div>
        <!-- END UNITS NAVIGATION FOR PHONES -->
