<!DOCTYPE html>
<html>
{% load i18n %}
{% load static %}
{% load compress %}
{% load pinax_webanalytics_tags %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <title>{% block title %}{{ site.name }}{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/font-awesome@4.7/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap@3.4.1/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/ui-select@0.19/dist/select.min.css" />

        <link rel='stylesheet' href="{% static 'angular-loading-bar/src/loading-bar.css' %}" type='text/css' media='all' />

        {% compress css %}
            <link rel='stylesheet' href="{% static 'scss-baquara_seed/main.scss' %}" type='text/x-scss' media='screen,projection,print' />
        {% endcompress %}

    {% endblock %}

    <script>
        window.BASE_API_URL = '/legacy/api';
        window.STATIC_URL = '{{ STATIC_URL }}';
        window.MEDIA_URL = '{{ MEDIA_URL }}';
        window.DEBUG = '{{ DEBUG }}';
        window.YOUTUBE_API_KEY = '{{ site.YOUTUBE_API_KEY }}';
        window.USER_ID = '{{ user.id }}';

        window.addEventListener('load', function onLoadStartObserver() {
            var observer = new MutationObserver(function() {
                window.parent.postMessage('FrameResize', '*');
            });
            observer.observe(window.document.body, { attributes: true, characterData: true, childList: true, subtree: true });
        });
    </script>

    <!-- All -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://unpkg.com/jquery@1.12/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="https://unpkg.com/angular@1.7/angular.min.js"></script>
    <script src="https://unpkg.com/angular-animate@1.7/angular-animate.min.js"></script>
    <script src="https://unpkg.com/angular-resource@1.7/angular-resource.min.js"></script>
    <script src="https://unpkg.com/angular-route@1.7/angular-route.min.js"></script>
    <script src="https://unpkg.com/angular-sanitize@1.7/angular-sanitize.min.js"></script>
    <script src="https://unpkg.com/angular-touch@1.7/angular-touch.min.js"></script>

    <script src="https://unpkg.com/angular-cookies@1.7/angular-cookies.min.js"></script>
    <script src="https://unpkg.com/angular-gettext@2.4/dist/angular-gettext.min.js"></script>
    <script src="https://unpkg.com/angular-i18n@1.7/angular-locale_pt-br.js"></script>

    <script src="https://unpkg.com/angular-bootstrap@0.12.2/ui-bootstrap.min.js"></script>
    <script src="https://unpkg.com/angular-ui-bootstrap@2.5.6/dist/ui-bootstrap-tpls.js"></script>
    <script src="https://unpkg.com/angular-local-storage@0.7.1/dist/angular-local-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js"></script>

    <!-- TineMCE -->
    <script src="https://unpkg.com/tinymce@4.5.10/tinymce.min.js"></script>
    <script src="https://unpkg.com/angular-ui-tinymce@0.0.19/dist/tinymce.min.js"></script>
    <script src="{% static 'js/ui.tinymce.courses-legacy.config.js' %}"></script>

    <script src="https://unpkg.com/ng-file-upload@12.0.4/dist/ng-file-upload.min.js"></script>

    <script src="https://unpkg.com/angular-filter@0.5.17/dist/angular-filter.min.js"></script>
    <script src="https://unpkg.com/checklist-model@1.0.0/checklist-model.js"></script>

    <script src="https://unpkg.com/ui-select@0.19.8/dist/select.min.js"></script>


    {% compress js %}
        <!-- All -->
        <script type="text/javascript" src="{% static 'js/helpers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/contact_form.js' %}"></script>

        <!-- Angular Timtec -->
        <script type="text/javascript" src="{% static 'js/django.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/angular-youtube.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/shared/baquara_seed.shared.app.js' %}"></script>

    {% endcompress %}
    <script src="{% url 'courses_legacy:djangular' %}"></script>

    {% block js %}{% endblock %}

    {% analytics %}
    
</head>
<body {% if in_admin %}id="admin"{% else %}id="notadmin"{% endif %}
      {% spaceless %}{% block body_attrs %}ng-app{% endblock %}{% endspaceless %}
      class="{% if user.is_authenticated %}logged{% else %}anonymous{% endif %}">

    <div class="site-wrapper" ng-class="{'main-nav-opened': is_main_nav_opened}">
        {% block header %}
        {% if user.is_authenticated %}
            {% include 'header.html' %}
        {% else %}
            {% include 'header-unlogged.html' %}
        {% endif %}
        {% endblock %}

        {% block main-nav %}
        {% if user.is_authenticated %}
            {% include 'main-nav.html' %}
        {% endif %}
        {% endblock %}

        <div class="wrapper wrapper-bg {% spaceless %}{% block wrapper_classes %}{% endblock %}{% endspaceless %}">
            {% block content %}
            <h1>missing content block</h1>
            {% endblock %}
        </div>
    </div>

    {% block footer %}
        {% if not user.is_authenticated %}
            {% include 'footer-unlogged.html' %}
        {% endif %}
    {% endblock %}

    {% if not user.is_authenticated %}
        {% include 'account/login_modal.html' %}
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                var $modal = $("#login-modal");
                var $next = $modal.find('input[name=next]');
                $('a.js-login-required').click(function(e){
                    $next.val($(this).attr('href'));
                    $modal.modal();
                    return false;
                });
                $('.dropdown-menu form').click(function(e) {
                    e.stopPropagation();
                });
            });
        </script>
    {% endif %}
</body>
</html>
