<!DOCTYPE html>
<html>
{% load i18n %}
{% load static %}
{% load compress %}
{% load pinax_webanalytics_tags %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ site.name }}{% endblock %}</title>


    <link rel='stylesheet' href="{% static 'font-awesome/css/font-awesome.css' %}" type='text/css' media='screenprojectionprint' />
    <link rel='stylesheet' href="{% static 'codemirror/lib/codemirror.css' %}" type='text/css' media='screenprojectionprint' />
    <link rel='stylesheet' href="{% static 'codemirror/addon/hint/show-hint.css' %}" type='text/css' media='screenprojectionprint' />
    <link rel='stylesheet' href="{% static 'codemirror/theme/monokai.css' %}" type='text/css' media='screenprojectionprint' />
    <link rel='stylesheet' href="{% static 'css/codemirrorconf.css' %}" type='text/css' media='screenprojectionprint' />
    <link rel='stylesheet' href="{% static 'angular-loading-bar/src/loading-bar.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'scss/main-paralapraca.scss' %}" type='text/x-scss' media='screen,projection,print' />

    <script>
        window.STATIC_URL = '{{ STATIC_URL }}';
        window.MEDIA_URL = '{{ MEDIA_URL }}';
        window.DEBUG = '{{ DEBUG }}';
        window.YOUTUBE_API_KEY = '{{ site.YOUTUBE_API_KEY }}';
        window.USER_ID = '{{ user.id }}';
    </script>
    <!-- All -->
    <script type="text/javascript" src="{% static 'modernizr/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui/ui/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui/ui/jquery.ui.sortable.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/consolelogfallback.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contact_form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/helpers.js' %}"></script>

    <script type="text/javascript" src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/addon/fold/xml-fold.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/addon/hint/show-hint.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/addon/hint/xml-hint.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/addon/hint/html-hint.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/addon/hint/css-hint.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/addon/hint/javascript-hint.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/addon/edit/matchbrackets.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/addon/edit/closebrackets.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/addon/edit/matchtags.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/mode/xml/xml.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/mode/css/css.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/mode/javascript/javascript.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/mode/htmlmixed/htmlmixed.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/mode/clike/clike.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/mode/php/php.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/angular-ui-codemirror/ui-codemirror.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/vendor/pagedown/Markdown.Converter.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/vendor/pagedown/Markdown.Editor.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/vendor/pagedown/Markdown.Sanitizer.js' %}" charset="utf-8"></script>


    {% block js %}{% endblock %}

    {% analytics %}
    <script type="text/javascript" charset="utf-8">
        (function(){
            function resize_activation_wrapper() {
                windowHeight = window.innerHeight;
                navbarHeight = $('#main-navbar').innerHeight();
                footerHeight = $('#main-footer').innerHeight();
                $('#activation-wrapper').innerHeight(windowHeight - (navbarHeight + footerHeight + 58));
            }

            function wrapper_min_height() {
                windowHeight = window.innerHeight;
                navbarHeight = $('#main-navbar').outerHeight(true);
                footerHeight = $('#main-footer').outerHeight(true);
                $('.wrapper').css('min-height', windowHeight - navbarHeight - footerHeight);
            }

            $(document).ready(function() {
                if (!("ontouchstart" in window)) {
                    $('.has-tooltip').tooltip();
                }


                resize_activation_wrapper();
                wrapper_min_height();

                $('#start-intro').click(function(){
                    startIntro();
                });

				{# workaround to contatc modal work with safari on ipad due to safari bug: http://getbootstrap.com/getting-started/#support-fixed-position-keyboards #}
				if (navigator.userAgent.match(/iPhone|iPad|iPod/i)) {
					$('.modal').on('show.bs.modal', function () {
						// Position modal absolute and bump it down to the scrollPosition
						$(this).css({
								  position: 'absolute',
								  marginTop: $(window).scrollTop() + 'px',
								  bottom: 'auto'
						});

						// Position backdrop absolute and make it span the entire page
						//
						// Also dirty, but we need to tap into the backdrop after Boostrap
						// positions it but before transitions finish.
						//
						setTimeout(function () {
							$('.modal-backdrop').css({
								position: 'absolute',
								top: 0,
								left: 0,
								width: '100%',
								height: Math.max(
										document.body.scrollHeight, document.documentElement.scrollHeight,
										document.body.offsetHeight, document.documentElement.offsetHeight,
										document.body.clientHeight, document.documentElement.clientHeight
								) + 'px'
							});
						}, 0);
					});
				}
            });
            $(window).resize(resize_activation_wrapper);
        })();
    </script>
</head>
<body {% if in_admin %}id="admin"{% else %}id="notadmin"{% endif %} {% spaceless %}{% block body_attrs %}{% endblock %}{% endspaceless %}>
{% block content %}
<h1>missing content block</h1>
{% endblock %}
{% if user.is_authenticated %}
    <script type="text/javascript">
    ga('set', 'dimension1', '{{ user.id }}');
    ga('set', 'dimension2', '{{ user.get_user_type }}');
    ga('set', 'dimension3', '{{ user.is_pilot }}');
    </script>
{% else %}
    {% include 'account/login_modal.html' %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var $modal = $("#login-modal");
            var $next = $modal.find('input[name=next]');
            $('a.js-login-required').click(function(e){
                $next.val($(this).attr('href'));
                $modal.modal();
                return false;
            });
            $('.dropdown-menu form').click(function(e) {
                e.stopPropagation();
            });
        });
    </script>
{% endif %}

</body>
</html>
