{% extends 'base.html' %}
{% load compress %}
{% load static %}

{% block js %}
    {{ block.super }}
    {% compress js %}
    <script type="text/javascript" src="{% static 'js/notes/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/notes/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/notes/services.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block body_attrs %}
  ng-app="notes"
{% endblock %}

{% block wrapper_classes %}
notes course-notes
{% endblock %}

{% block content %}
<!-- CONTAINER -->
<div class="my-notes course course-notes" ng-controller="CourseNotesCtrl">

    {% include "_course-header-inline.html"  with course=course question_form=false %}

    <section class="notes-content page container-fluid">

        <header class="page-header">
            <h3>Anotações do Espaço Formativo</h3>
        </header>

        <section class="notes">
            <p ng-if="lessons.length == 0">
                Você ainda não fez nenhuma nota neste espaço formativo.
            </p>

            {% verbatim angularjs %}
            <div id="lesson-{{ lesson.position }}" class="lesson" ng-repeat="lesson in lessons">
                <h4 class="lesson-title">{{ lesson.name }}</h4>
                <div class="notes-info">
                    <span translate
                          translate-n="course.course_notes_number"
                          translate-plural="você tem {{$count}} notas">você tem 1 nota</span>
                    <button class="btn btn-link btn-sm"
                            ng-init="course.show_notes=false"
                            ng-class="$comment.user_like ? 'hide-all': 'show-all'"
                            ng-click="course.show_notes=!course.show_notes">
                        <span ng-show="!course.show_notes"
                          translate
                          translate-n="course.course_notes_number"
                          translate-plural="ver todas">ver</span>
                        <span ng-show="course.show_notes">oculltar</span>
                    </button>
                </div>
                <div ng-show="course.show_notes">
                    <div class="notes-list" ng-repeat="unit in lesson.units_notes">
                        <h5 class="unit-title">{{ unit.name }}</h5>
                        <div class="note-content">
                            <div class="row">
                                <div class="col-sm-7 col-md-8 col-lg-9 note-text">{{ unit.user_note.text }}</div>
                                <div class="col-sm-5 col-md-4 col-lg-3">
                                <!--<a ng-href="/course/{{ course.slug }}/lesson/{{ lesson.slug }}/#/{{ unit.id }}"-->
                                 <!--class="btn btn-xs btn-success edit">editar (vai para o curso)</a>-->
                                <button class="btn btn-xs btn-danger delete"
                                      ng-click="delele_note(course, lesson, unit, unit.user_note)">descartar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endverbatim angularjs %}
        </section>
    </section>
</div>
<!-- CONTAINER -->
{% endblock %}
