{% extends 'base.html' %}
{% load compress %}
{% load staticfiles %}

{% block js %}
{{ block.super }}

<script src="https://unpkg.com/tinymce@4.5.10/tinymce.min.js"></script>
<script src="https://unpkg.com/angular-ui-tinymce@0.0.19/dist/tinymce.min.js"></script>

<script type="text/javascript" src="{% static 'js/ui.tinymce.courses-legacy.config.js' %}"></script>

{% compress js %}
<!-- Course Material -->
<script type="text/javascript" src="{% static 'js/course_material/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course_material/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course_material/filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course_material/services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
{% endcompress %}

{% endblock %}

{% block body_attrs %}
  ng-app="courseMaterial"
{% endblock %}


{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}
<!-- CONTAINER -->
<div class="course course-material">

	{% include "_course-header-inline.html"  with course=course %}

    <!-- MAIN CONTENT -->
    <section class="course-content page container-fluid">
        <header class="page-header">
            <h3>Material Complementar</h3>
        </header>

        <div class="row">
			<div id="course-material-text" class="col-sm-9 col-lg-9">
				{% if not course_material.text %}
				<p class="description">Ainda não há referências para consultar aqui.</p>
				{% else %}
				<p class="description">{% autoescape off %}{{ course_material.text }}{% endautoescape %}</p>
				{% endif %}
			</div>

            <!-- ASIDE -->
            {% if user.is_staff or user.is_superuser  %}
            <aside class="col-sm-3 col-lg-3">
                {% if course_material.files.count > 0 %}
                <ul class="uploaded-files-list">
                    <li><h5>Arquivos</h5></li>
                    {% for file in course_material.files.all %}
                    <li><a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </aside>
            {% endif %}
            <!-- END ASIDE -->
        </div>
    </section>
    <!-- END MAIN CONTENT-->
</div>
<script type="text/javascript">
$(document).ready( function(){
	$('#course-material-text p a').attr('target', '_blank');
});
</script>
<!-- END CONTAINER -->
{% endblock %}
