<!-- APOIO -->
<div class="site-logos" aria-label="Links">
  <a href="http://www.upb.org.br/">
    <img src="/static/img/logos/upb.png" alt="UPB">
  </a>
  <a href="https://undime.org.br/">
    <img src="/static/img/logos/undime.png" alt="UNDIME">
  </a>
  <a href="https://www.itausocial.org.br/">
    <img src="/static/img/logos/itau-social.png" alt="Itaú Social">
  </a>
  <a href="http://educadores.educacao.ba.gov.br/baquara_seed">
    <img src="/static/img/logos/baquara_seed.png" alt="baquara_seed">
  </a>
  <img src="/static/img/logos/ano-anisio-teixeira.png" alt="Ano Anísio Teixeira">
  <a href="http://www.educacao.ba.gov.br/educarparatransformar-municipios">
    <img src="/static/img/logos/educar-para-transformar.png" alt="Educar para Transformar">
  </a>
  <a href="http://www.educacao.ba.gov.br/">
    <img src="/static/img/logos/secretaria-educacao-ba.png" alt="Secretaria da Educação do Estado da da Bahia">
  </a>
</div>

<!-- FOOTER -->
<div class="site-footer">
    <div class="legal-text">
      <p>Secretaria da Educação do Estado da Bahia</p>
      <p>5ª Avenida Nº 550, Centro Administrativo da Bahia - CAB, Salvador, Bahia, Brasil, CEP: 41.745-004 | Tel.: (0xx71) 3115-8933, 3115-9093 e 3115-1401</p>
    </div>
</div>
<!-- END FOOTER -->
