{% load i18n %}
{% load is_coordinator %}
{% load staticfiles %}
{% load compress %}

<script src="https://bowercdn.net/c/angular-click-outside-2.10.2/clickoutside.directive.js"></script>

{% compress js %}
<script type="text/javascript" src="{% static 'js/header-services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/header-controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/header-directives.js' %}"></script>
<script type="text/javascript" src="{% static 'js/header-filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/header-app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main-nav/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main-nav/controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main-nav/services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/discussion-services.js' %}"></script>
{% endcompress %}

<header ng-controller="HeaderCtrl" class="site-header" role="navigation">
    <div class="user-info" ng-click="toggle_main_nav_display()" ng-cloak>
        {% if user.is_authenticated %}
            {% block header_user_menu %}
                {% verbatim %}
                <div class="user-icon">
                    <img ng-src="{{ user.picture || '/static/img/avatar-default.png'}}" alt="{{ user.name }}" class="img-circle">
                    <div class="menu-label">menu</div>
                    <div class="hide-menu">ocultar</div>
                </div>
                <div class="user-name">{{ user.first_name }}</div>
                {% endverbatim %}
            {% endblock %}
        {% endif %}
    </div>

    {% block header_navbar %}
    <div class="site-logo">
        <h1><a href="/"><img src="/static/img/baquara_seed-logo.png" alt="{{ site.name }}"></a></h1>
    </div>
    {% endblock %}

    {% if user.is_authenticated %}
        {% verbatim %}
        <ul id="top-right-menu" class="user-tools">
            <li>
                <a class="notifications active" ng-click="toggle_notifications()">
                    <span class="notification-bubble" ng-show="unread.counter">{{unread.counter}}</span>
                    <span class="hidden-xs">Notificações</span>
                </a>
            </li>
            <!-- <li>
                <a class="chat" href="#">
                    <span class="notification-bubble">1</span>
                    <span class="hidden-xs">{% trans 'Chat' %}</span>
                </a>
            </li> -->
        </ul>
        {% endverbatim %}

        <div id="notification-wrapper" click-outside="show_notification = false" outside-if-not="notification-wrapper, top-right-menu">
            <div ng-show="show_notification" class="notifications-panel" ng-cloak>
                <h2 class="notifications-title">Notificações</h2>
                    <notifications ng-model="notifications"></notifications>
                <!--<a href="#" class="see-more">ver todos</a>-->
            </div>
        </div>
{% endif %}

</header>
