{% load i18n %}
{% load is_coordinator %}

<div class="institutional-headers">
  <iframe src="http://web-bahia.ba.gov.br/instbar/instbar-portal-tematico.php" width="100%" height="50px" frameborder="0"></iframe>
  <section id="portal" class="navbar-wrapper">
    <div class="container">
        <a target="_top" rel="acceso portal da educação" href="http://www.educacao.ba.gov.br">
            <h4 class="pull-left">
                <img class="mobile pull-left visible-xs" src="/assets/img/background_logo_marca.png" width="80">
                <b>educacao</b>.ba.gov.br
            </h4>
        </a>

        <ul class="list-unstyled list-inline hidden-md hidden-sm hidden-xs">
            <li class="border-laranja hover-laranja text-center">
                <a class="link-preto" target="_top" href="http://escolas.educacao.ba.gov.br/">
                    <i class="fa fa-angle-double-down_ margin-right-10"></i> escolas
                </a>
            </li>
            <li class="border-verde hover-verde text-center">
                <a class="link-preto" target="_top" href="http://estudantes.educacao.ba.gov.br/">
                    <i class="fa fa-angle-double-down_ margin-right-10"></i> estudantes
                </a>
            </li>
            <li class="border-vermelho hover-vermelho text-center">
                <a class="link-preto" target="_top" href="http://educadores.educacao.ba.gov.br/">
                    <i class="fa fa-angle-double-down_ margin-right-10"></i> educadores
                </a>
            </li>
            <li class="border-azul hover-azul text-center">
                <a class="link-preto" target="_top" href="http://institucional.educacao.ba.gov.br/">
                    <i class="fa fa-angle-double-down_ margin-right-10"></i> institucional
                </a>
            </li>
            <li class="border-roxo hover-roxo text-center">
                <a class="link-preto" target="_top" href="http://municipios.educacao.ba.gov.br/">
                    <i class="fa fa-angle-double-down_ margin-right-10"></i> municípios
                </a>
            </li>
        </ul>
    </div>
  </section>
</div>

<header class="site-header" role="navigation">
  {% block header_navbar %}

    <!--
    <button class="btn btn-link visible-xs site-nav-open collapse-site-nav" type="button"
        ng-init="show_site_nav=false"
        ng-click="show_site_nav=!show_site_nav">
        <i class="fa fa-bars" aria-hidden="true"></i>
        menu
    </button>

    <nav class="site-nav" ng-class="show_site_nav ? 'site-nav opened' : 'site-nav'">
        <button class="btn btn-link visible-xs site-nav-close collapse-site-nav" type="button"
            ng-click="show_site_nav=false">
            <i class="fa fa-times" aria-hidden="true"></i>
            fechar
        </button>
        <ul>
            <li><a href="{% url 'account_login' %}">Entrar</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modal-contact">Contato</a></li>
        </ul>
    </nav>
    -->

    <div class="site-logo">
        <h1>
            <a href="/"><img src="/static/img/baquara_seed-logo.png" alt="{{ site.name }}" class="img-responsive"></a>
        </h1>
    </div>
  {% endblock %}
</header>

<div class="modal fade" id="modal-contact">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Contato</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal contact-form" method="post" action="{% url 'courses_legacy:contact' %}">
                    {% csrf_token %}
                    {% include '_contact_form.html' %}
                    <div class="submit">
                        <button type="reset" class="btn btn-sm btn-warning clean">Limpar</button>
                        <button type="submit" class="btn btn-sm btn-success save">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
