{% extends 'base.html' %}

{% load i18n %}

{% block wrapper_classes %}
home
{% endblock %}

{% block content %}
<div>
    <section class="blocks">

        <div class="welcome">
            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/BG4MwWea-UQ"
                    class="content" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            </div>
        </div>

        <div class="login">
            <form method="post" action="{% url 'account_login' %}" class="login-form">{% csrf_token %}
                <fieldset>
                    <legend>
                      <h2>Acesse agora mesmo</h2>
                    </legend>
                    <div class="form-group">
                        <label for="username" class="sr-only">CPF ou email</label>
                        <input name="login" type="text" class="form-control" id="username" placeholder="CPF ou email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">senha</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="senha">
                        <p class="recovery-link"><a href="{% url 'account_reset_password' %}">Esqueci a senha</a></p>
                    </div>
                    <button type="submit" class="btn btn-submit">Entrar</button>
                </fieldset>
                <!-- <p class="info"><a href="/accounts/signup">Criar novo login</a></p> -->
                <p class="info"><a href="/pages/ajuda">Precisa de ajuda no acesso?</a></p>
            </form>
        </div>

        <div class="use">
          <div class="flex-row">
            <div>
              <div class="call">Confira!</div>
              <h2>
                <a href="http://pat.educacao.ba.gov.br/ " target="_blank" rel="noreferrer noopener">
                  <img src="/static/img/plataforma-anisio-teixeira.png" alt="Plataforma Anísio Teixeira">
                </a>
              </h2>
              <p>Na Plataforma Anísio Teixeira, você encontra <strong>mais de 10 Recursos Educacionais</strong> Abertos, como vídeos, jogos, sequências didáticas, sugestões de atividades e muito mais!</p>
            </div>
            <div>
              <a href="http://pat.educacao.ba.gov.br/ " target="_blank" rel="noreferrer noopener">
                <img src="/static/img/box-plataforma.png" alt="Plataforma Anísio Teixeira">
              </a>
            </div>
          </div>
        </div>

        <div class="more-info">
            <h2>Conheça</h2>
            <p>Esse é o ambiente virtual de aprendizagem da Formação Continuada Territorial. </p>
            <a href="/pages/saiba-mais/" class="btn btn-more-info">Saiba mais</a>
        </div>

    </section>
</div>

{% endblock %}
