{% load i18n %}
{% load is_coordinator %}
{% load has_group %}

<nav class="main-nav" role="navigation" ng-controller="MainNavCtrl">
    <ul class="user-nav">
    {% if user.is_authenticated %}
        <li><a href="{% url 'courses_legacy:profile' %}" class="profile">Perfil</a></li>
        <li><a href="{% url 'courses_legacy:user_notes' %}" class="notes">Notas</a></li>
        <!--<li><a href="{% url 'courses_legacy:user_courses' %}" class="courses">{% trans 'Meus cursos' %}</a></li>-->
        <li><a href="{% url 'courses_legacy:courses' %}" class="courses">Espaços Formativos</a></li>
        <li>
            {% verbatim %}
            <a class="messages" href="/messages/">
                <span class="notification-bubble" ng-show="messages_unread_count">{{ messages_unread_count }}</span>
                <span class="">Avisos</span>
            </a>
            {% endverbatim %}
        </li>
        <li><a href="{% url 'discussion:forum-home' %}" class="forum">Fóruns</a></li>
        <!-- <li><a href="/cards" class="cards">Repositório</a></li> -->
        
        <!-- <li>
            {% verbatim %}
            <a class="chat" href="/base/chat">
                <span class="notification-bubble" ng-show="chat.notifications">{{ chat.notifications }}</span>
                <span class="">Chat</span>
            </a>
            {% endverbatim %}
        </li> -->
        {% if user.is_superuser %}
        <li class="submenu">
            <a class="admin"
                ng-init="collapsedSubmenu=true"
                ng-click="collapsedSubmenu=!collapsedSubmenu">
                <span class="visible-xs-inline">Admin</span>
                <span class="hidden-xs">Administração</span>
            </a>
            <ul uib-collapse="collapsedSubmenu">
                <li><a href="{% url 'courses_legacy:administration.courses' %}" id="admin-link">Espaços Formativos</a></li>
                <li><a href="{% url 'courses_legacy:administration.users' %}" id="admin-link">Usuários e grupos</a></li>

                <li><a href="{% url 'courses_legacy:administration.certificates' %}" id="admin-link">Certificados</a></li>
                <li><a href="{% url 'courses_legacy:contracts' %}" id="admin-link">Contratos</a></li>
                <li><a href="{% url 'discussion:forum-list' %}" id="admin-link">Fóruns</a></li>
            </ul>
        </li>
        {% elif user|is_coordinator %}
        <li class="submenu">
            <a href="{% url 'courses_legacy:administration.courses' %}">
                Administrador
            </a>
        </li>
        {% endif %}
        <li><a href="/pages/ajuda/" class="help">Ajuda</a></li>
        <li><a href="{% url 'account_logout' %}" class="logout">Sair</a></li>
    {% else %}
        <li><a href="{% url 'courses_legacy:courses' %}" class="courses">Cursos</a></li>
        <li>
            <a href="#" class="dropdown-toggle login" data-toggle="dropdown">Entrar</a>
            {% include '_login_modal.html' %}
        </li>
        <li>
        {% block header_signup_link %}
            <a href="#" class="dropdown-toggle register" data-toggle="dropdown">Registrar</a>
            {% include '_signup_modal.html' %}
        {% endblock %}
        </li>
    {% endif %}
    </ul>

    <div class="site-info">
        <ul class="site-nav">
            {% block header_site_nav %}
            <li><a href="/pages/faq">FAQ</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modal-contact">Contato</a></li>
            {% endblock %}
        </ul>
        <!--<div class="legal-text">-->
            <!--{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in aliquam eros.' %}-->
        <!--</div>-->
    </div>
</nav>

<div class="modal fade" id="modal-contact">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Contato</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-1">
                        <form class="form-horizontal" method="post" action="{% url 'courses_legacy:contact' %}">
                            {% csrf_token %}
                            {% include '_contact_form.html' %}
                            <div class="submit textcenter">
                                <button type="reset" class="btn btn-danger">Limpar</button>
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
