.certificate-container {
    @media screen and (min-width: $screen-md-min) {
        height: 1140px;
        &:before, &:after {
            background-image: url('../img/certificate-bg.png');
            content: '';
            height: 1140px;
            width: 107px;
            position: absolute;
            top: 0;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
    }
    .line {
        display: flex;
        height: 4px;
        margin: 0 auto;
        max-width: 620px;
        span {
            display: block;
            height: 4px;
            flex-grow: 1;
            &:first-child {
                background-color: $green;
            }
            &:nth-child(2) {
                background-color: $red;
            }
            &:last-child {
                background-color: $orange;
            }
        }
    }
    .iat {
        display: block;
        margin: 40px auto;
    }
    .certificate-title, .certificate-subtitle {
        margin: 0 auto;
        max-width: 530px;
        text-align: center;
    }
    .certificate-title {
        color: $gray;
        font-size: 20px;
        line-height: 1.4;

    }
    .certificate-subtitle {
        color: $red;
        font-family: $font-family-serif;
        font-size: 36px;
        line-height: 1.2;
        margin-top: 10px;
    }
    .certificate-info {
        margin: 20px auto 0;
        max-width: 650px;
        p {
            font-family: $font-family-serif;
            font-size: 18px;
            line-height: 1.5;
        }
    }
    .signature-section {
        margin-bottom: 30px !important;
        .signature {
            display: block;
            margin: 30px auto -10px;
        }
        span {
            border-top: 2px solid #979797;
            display: block;
            margin: 0 auto;
            max-width: 390px;
            padding-top: 10px;
        }
        small {
            display: block;
            font-family: $font-family-sans-serif;
            margin: 0 auto;
            max-width: 490px;
        }
    }
    footer {
        margin: 80px auto 30px;
        max-width: 580px;
    }
}

