.course-intro {
  $maxWidthGrid: 900px;

  .course-intro-grid {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: repeat(2, auto) 1fr;

      @media screen and (max-width: $maxWidthGrid) {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(3, auto) 1fr;
      }

      h3 {
        color: $brand-primary;
      }
      
      .header-double {
          margin: 20px 0px 20px 0px;
          border-top: 1px solid $gray-light;
          border-spacing: 10px;
          border-radius: 3px;
          h3 {
            display: inline-block;
            margin: 0px;
          }
      }
      .course-video {
          grid-column: 1;
          grid-row: 1;
          width: 100%;
      }

      .course-intro-sidebar {
          grid-column: 2;
          grid-row: 1;

          &--wrapper {
              background-color: $brand-light;
              border-radius: 0 0 5px 5px;
              margin-top: 20px;
              padding: 0px 20px;
              min-height: 95%;
              @media screen and (max-width: $maxWidthGrid) {
                  border-radius: 5px;
              }
          }

          @media screen and (max-width: $maxWidthGrid) {
              grid-column: 1;
              grid-row: 2;
          }

          h3 {
              text-align: center;
          }

          .btn-large {
            background-color: $brand-secondary;
            border-radius: 10px;
            box-shadow: 0 5px 0 0 $brand-primary;
            color: white;
            font-size: 20px;
            line-height: 1;
            margin: 10px 0px 33px 0px;
            max-height: none;
            padding: 25px;
            text-transform: uppercase;
            width: 100%;
          }

          .editable-text-box {
              background-color: rgba(#ddd, 0.5);
          }
      }

      .instructor-photo {
        text-align: center;
        width: 100%;

        .img-thumbnail {
          border: none;
          border-radius: 50%;
          height: 150px;
          object-fit: cover;
          padding: 0;
          width: 150px;
        }
      }

      .course-intro-details {
          grid-column: 1;
          grid-row: 1;

          @media screen and (max-width: $maxWidthGrid) {
              grid-row: 3;
          }
      }

      .lesson-list {
          grid-column: 1;
          grid-row: 2;
          width: 100%;
          @media screen and (max-width: $maxWidthGrid) {
              grid-row: 4;
          }
      }
  }
}
