// Flatpage styles
// --------------------------------------------------

.flatpage {
    margin-top: -20px !important;
    h2 {
        color: $brand-primary;
        font-size: 48px;
        font-weight: $bold;
        margin: 0 0 20px 0; 
    }
    .content {
        background-color: rgba($brand-tertiary,0.6); 
        padding: 40px;
        h1, h2, h3, h4, h5, h6 {
            color: $gray;
            font-family: $font-family-sans-serif;
            font-weight: $bold;
            margin: 30px 0 15px; 
            &:first-child {
                margin-top: 0;
            }
        }
        h1 {
            font-size: 40px;
        }
        h2 {
            font-size: 36px;
        }
        h3 {
            font-size: 32px;
        }
        h4 {
            font-size: 28px;
        }
        h5 {
            font-size: 24px;
        }
        h6 {
            font-size: 20px;
        }
        p {
            border-left: 2px solid #979797;
            color: $gray;
            font-size: $font-size-large;
            margin: 0; 
            padding: 0 0 15px 20px;
        }
        img {
            float: right;
            margin: 0 0 20px 20px; 
            max-width: 100%
        }
    }
}

.logged {
    .flatpage {
        margin: 0 auto !important; 
        max-width: 1050px;
        
        h2 {
            margin: 15px;
            @media screen and (min-width: $screen-md-min) {
                margin: 15px 0; 
            }
        }
    }
}