// Fonts
// --------------------------------------------------

//== Neuton

@font-face {
    font-family: 'neuton';
    src: url('../fonts/neuton/neuton-bold-webfont.woff') format('woff'),
         url('../fonts/neuton/neuton-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neuton';
    src: url('../fonts/neuton/neuton-extrabold-webfont.woff') format('woff'),
         url('../fonts/neuton/neuton-extrabold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

//== Ostrich Sans
@font-face {
  font-family: 'Ostrich Sans';
  font-weight: bold;
  src: url('../fonts/ostrich-sans/ostrich-sans-heavy-webfont.woff') format('woff'),
       url('../fonts/ostrich-sans/ostrich-sans-heavy.otf') format('opentype');
}
