// Forums' pages
// --------------------------------------------------

.post-attachments {
    .attachments {
        border: 1px solid $brand-primary;
        color: $brand-primary;
    }
    ul {
        border-color: rgba($brand-primary,0.7);
        li {
            .delete {
                &:before {
                    color: $brand-primary;
                }
            }
        }
    }
    a {
        @include link-hover($brand-primary,$brand-primary,$brand-primary,transparent);
    }
    .loading {
        .loading-bar {
            border-color: $brand-primary;
            div {
                background-color: $brand-primary;
            }
        } 
    }
}

.forums {
    .post-attachments {
        a {
            @include link-hover($brand-primary,$brand-primary,$brand-primary,transparent);
        }
    }
}

.comments-form {
    textarea {
        border: 2px solid $red;
    }
}

.see-all-topics {
    .btn {
        @include button-hover(#fff,#fff,rgba($red,0.6),$red);
    }
}

.new-thread {
    .form-control {
        border-color: $red;
    }
    .selected-forum {
        color: $red;
    } 
}