// Page's headers
// --------------------------------------------------

.page-header {
    h1, h2, h3, h4, h5, h6 {
        i {
            display: none;
        }
    }
}

// Secondary page's headers
// --------------------------------------------------

.primary-page-header, .secondary-page-header {
    h1, h2, h3, h4, h5, h6 {
        color: #000;
        i {
            display: none;
        }
    }
}
