// Homepage styles
// --------------------------------------------------

.home {
    .blocks {
        color: #fff;
        margin: 0 15px;
        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
        }
        @media screen and (min-width: $screen-sm-min) {
            display: flex;
            flex-wrap: wrap;
            > div {
                min-height: 320px;
                padding: 30px;
                width: 50%;
            }
        }
        @media screen and (min-width: 947px) {
            margin: 0 auto;
        }
        h2 {
            font-size: 40px;
            font-weight: bold;
            margin: 0;
        }

        .btn {
          border-radius: 6px;
          font-size: $font-size-large;
          font-weight: $semi-bold;
        }

        .welcome {
            background-color: black;
            padding: 0;
            text-align: center;

            .video-wrapper {
              padding-top: 56.25%;
              position: relative;
              width: 100%;

              iframe {
                border: none;
                bottom: 0;
                height: 100%;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
              }
            }
        }

        .login {
            background-color: $brand-tertiary;

            h2 {
              color: $brand-primary;
            }
        }

        .more-info {
            background-color: $brand-primary;
            color: white;
            flex-direction: column;
            text-align: center;

            p {
                margin: 30px;
                max-width: 270px;

                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }

            .btn-more-info {
                @include button-hover(white, white, lighten($brand-primary, 10%), $brand-primary);
                width: 270px;
                transition: all 0.5s ease;
            }
        }

        .use {
            background-color: $brand-light;
            padding-bottom: 0;

            .call {
              color: $brand-tertiary;
              font-family: $headings-font-family;
              font-size: 24px;
            }

            h2 {
              color: $brand-primary;
            }

            img {
              max-width: 100%;
            }

            p {
              color: #333;
              margin: 15px 0 30px;

              strong {
                font-weight: $semi-bold;
              }
            }

            .flex-row {
              display: flex;
              align-items: flex-end;

              & > * {
                flex: 1;
              }

              & > :first-child {
                padding-right: 15px;
              }
            }
        }
    }
}

.contact-form {
    .submit {
        text-align: right;
        .btn {
            margin-left: 10px;
        }
        .btn.clean {
            margin-right: 0;
        }
    }
}
