.messages {
    .page {
        @include card($brand-light);
    }
}

.messages-list {
    .page-header {
        h2 {
            color: #fff;
        }
    }
    .title-header {
        h3 {
            color: $red;
        }
        .btn {
            &.hide-all, &.show-all {
                @include link-hover($red,darken($red,5%),$red,darken($red,5%));
            }
        }
    }
    .message {
        &.unread {
            .message-body {
                border-left: 5px solid $red;
                .see-more {
                    @include button-hover(#fff,#fff,$blue,darken($blue, 5%));
                }
            }
        }
    }
}
