// Notes' pages
// --------------------------------------------------

.my-notes.page {
    @include card($brand-light);
}

.notes {
    .header {
        .btn {
            margin-top: -5px;
        }
        .btn-primary {
            background: $blue;
            &:hover {
                background: darken($blue,10%);
            }
        }
        .btn-info {
            background: $red;
            &:hover {
                background: darken($red,10%);
            }
        }
    }
    .lesson-title {
        color: $brand-primary;
    }
    .notes-list {
        border-color: $brand-primary;
    }
}
