.forums {
    .pagination {
        > li {
            > a, > span {
                color: #fff;
                background-color: $blue;
            }
        }
        > li > a,
        > li > span {
            &:hover, &:focus {
                color: #fff;
                background-color: darken($red,10%);;
            }
        }
        > .active > a,
        > .active > span {
            &, &:hover, &:focus {
                color: #fff;
                background-color: $red;
            }
        }
        > .disabled {
            > span, > span:hover, > span:focus, > a, > a:hover, > a:focus {
                color: #fff;
                background-color: rgba($blue,0.8);
            }
        }
    }
}