// Profile's pages
// --------------------------------------------------

.profile.page {
    @include card($brand-light);

    .profile-info {
        a {
            @include link-hover($orange,$orange,$orange,transparent);
        }
    }
}
