// General Reports' page
// --------------------------------------------------

.general-reports {
    background-color: rgba($brand-primary,0.3);
    .page-header {
        background-color: $brand-primary;
        margin: -30px -30px 50px;
        padding-left: 30px;
        h2 {
            color: #fff;
            text-transform: lowercase;
        }
    }

    .reports-list {
        h3, h4 {
            font-family: $font-family-sans-serif;
            font-weight: bold;
            margin-top: 0;
        }
        h3 {
            font-size: 20px;
            .fa {
                color: $brand-primary;
                font-size: 26px;
                float: left;
                margin: 0px 7px 0;
            }
            span {
                font-size: 14px;
                float: right;
            }
        }
        h4 {
            color: $brand-primary;
            font-size: 14px;
            margin-top: 20px;
        }
        .report-course-wrapper {
            border-left: 1px solid $brand-primary;
            margin-left: 15px;
            padding-left: 15px;
        }
        .report-course {
            background: rgba(255,255,255,0.5);
            width: 100%;
            &:nth-child(odd) {
                background: transparent;
            }
            td {
                padding: 6px 12px;
            }
            h5 {
                font-family: $font-family-sans-serif;
                font-weight: 600;
                margin-bottom: 0;
            }
            ul {
                margin: 0 0 12px;
                li {
                    margin-bottom: 6px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                b {
                    font-weight: 600;
                }
            }
            .hide-all, .show-all {
                font-weight: 600;
                margin-bottom: 12px;
                @include link-hover($brand-primary,darken($brand-primary,5%),$brand-primary,darken($brand-primary,5%));
            }
            .progress {
                height: 7px;
                margin-bottom: 0;
                min-width: 190px;
                .progress-bar {
                    background-color: $brand-primary;
                    height: 7px;
                }
            }
        }
    }
    .reports-forum {
        margin-bottom: 50px;
        h3 {
            font-family: $font-family-sans-serif;
            font-weight: bold;
            font-size: 20px;
            margin-top: 0;
            .fa {
                color: $brand-primary;
                font-size: 26px;
                float: left;
                margin: 0px 7px 0;
            }
        } 
        table {
            width: 100%;
            tr {
                td {
                    background: rgba(255,255,255,0.5);
                    padding: 14px 16px;
                    &:last-child {
                        color: #4A4A4A;
                        font-size: 12px;
                        font-weight: 600;
                        .fa {
                            color: $brand-primary;
                            font-size: 14px;
                            margin-right: 4px;
                        }
                    }
                }
                &:nth-child(even) {
                    td {
                        background: transparent;
                    }
                }
            }
        }        
    }
    .reports-downloads {
        border: 1px solid $brand-primary;
        padding: 16px;
        h3 {
            color: $brand-primary;
            font-family: $font-family-sans-serif;
            font-size: 14px;
            font-weight: bold;
            margin-top: 0;
        }
        legend {
            border: 0;
            color: #000;
            font-family: $headings-font-family;
            font-size: 24px;
            margin: 0;
        }
        fieldset + fieldset {
            margin-top: 25px;
        }
        label {
            color: #4A4A4A;
            font-size: 12px;
            font-weight: normal;
        }
        .form-control {
            border-radius: 0;
            border: 2px solid $brand-primary;
            box-shadow: 0;
        }
        .btn {
            margin-top: 20px;
            @include button-hover(#fff,#fff,$brand-primary,rgba($brand-primary,0.6));
        }
    }

    .multiple-select {
        height: 300px;
    }
}
