// Site footer styles for unlogged users
// --------------------------------------------------

.anonymous {
    .site-logos {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 946px;
      margin: 40px auto;

      img {
        margin: 20px;
      }
    }

    .site-footer {
        background-color: #f0f0f0;
        font-size: 16px;
        margin-top: 40px;
        padding: 30px 20px;
        text-align: center;

        .legal-text {
            p:first-child {
              font-weight: $semi-bold;
              text-transform: uppercase;
            }
        }
    }
}
