// Site header styles for unlogged users
// --------------------------------------------------

@import './institutional-headers';

.anonymous {
    @media screen and (min-width: $screen-md-min) {
      background-image: url('../img/home-bg.png');
      background-position: top 100px right 0;
      background-repeat: no-repeat;
      background-size: auto 1318px;
    }

    @media screen and (max-width: $screen-sm-max) {
        position: absolute !important;
    }
    .site-header {
        background-color: transparent;
        box-shadow: none;
        height: auto;
        margin: 80px 0;
        overflow: initial;
        position: static;
        top: initial;
        left: initial;
        right: initial;
        z-index: initial;

        .site-logo {
            height: auto;
            margin: 0 15px 20px;
            max-width: 560px;
            position: static;
            left: initial;
            right: initial;
            @media screen and (max-width: $screen-xs-max) {
                margin-top: 12vmax;
            }
            @media screen and (min-width: 561px) {
                margin: 0 auto 30px;
            }
            h1 {
                margin: 0;
                text-align: center;
                img {
                    margin: 0 0 15px;
                }
                span {
                    color: #000;
                    display: block;
                    font-family: $font-family-sans-serif;
                    font-size: 2.9vmax;
                    font-weight: $semi-bold;
                    @media screen and (min-width: 561px) {
                        font-size: 31px;
                    }
                }
            }
        }
    }
}


.notifications-panel {
    &:before {
        border-bottom-color: $blue;
    }
    .notifications-title {
        background-color: $blue;
    }
    .notifications-list {
        .notifications-item {
            border-bottom: 1px solid rgba($blue,0.3);
            &.not-read {
                background-color: rgba($blue,0.15);
            }
        }
    }
    .see-more {
        color: $blue;
    }
}
