// Declare specifc theme variables
// --------------------------------------------------

//== Colors
//
//## Parapraca brand colors

$blue:          #006eb1;
$gray:          #666;
$green:         #b8c96b;
$orange:        #f7914a;
$red:           #de4d39;
$yellow:        #eabc00;

//## Override Bootstrap's variables
// --------------------------------------------------

$brand-primary:     #1B7EC6;
$brand-secondary:   #DE4816;
$brand-tertiary:    #89C9D5;
$brand-success:     $blue;
$brand-info:        $gray;
$brand-warning:     $red;
$brand-danger:      $red;
$brand-light:       #f5f5f5;

//== Specific component colors
//
//** Site header background color
$site-header-bg-color:      $brand-light;

//** Main navigation background color
$main-nav-bg-color:         $brand-primary;

//** User info background color
$user-info-bg-color:        $brand-secondary;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         0 !default;
$btn-border-radius-large:        0 !default;
$btn-border-radius-small:        0 !default;

$btn-default-color:              #fff;
$btn-default-bg:                 #555;
$btn-default-border:             transparent;

//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:            20px !default;
//** Large `.form-control` border radius
$input-border-radius-large:      20px !default;
//** Small `.form-control` border radius
$input-border-radius-small:      20px !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #fff !default;
$state-success-bg:               $brand-success !default;
$state-success-border:           transparent !default;

$state-info-text:                #fff !default;
$state-info-bg:                  $brand-info !default;
$state-info-border:              transparent !default;

$state-warning-text:             #fff !default;
$state-warning-bg:               $brand-warning !default;
$state-warning-border:           transparent !default;

$state-danger-text:              #fff !default;
$state-danger-bg:                $brand-danger !default;
$state-danger-border:            transparent !default;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Default background color used for all tables.
$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               rgba(#fff,0.4) !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                rgba(#fff,0.4) !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            transparent !default;


// Override base theme variables
// --------------------------------------------------

//== Specific component colors

//** Main navigation background color

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global textual link color.
$link-color:        $brand-primary;

//== Typography
//

$font-family-serif: "Neuton", Georgia, "Times New Roman", Times, serif;

$headings-font-family: "Ostrich Sans", $font-family-serif;

//== Pagination
//
//##

$pagination-border:                    transparent;
$pagination-hover-border:              transparent;
$pagination-active-border:             transparent;
$pagination-disabled-border:           transparent;
