// Widget's common styles
// --------------------------------------------------

.widget {
  background-color: $brand-light;
  margin-bottom: 20px;
}

.widget-topbar {

    &.breadcrumb {
        border-color: $red;
        .line {
            border-color: $red;
            color: $red;
            .btn.goback {
                @include link-hover($red,$red,$red,transparent);
            }
        }
    }
}

.section-title {
    color: $red;
    a {
        color: $red;
    }
}

// Courses widget
// --------------------------------------------------

.courses-widget {

    .widget-header {
        margin-bottom: 30px;
    }
    .widget-filter {
        label {
            color: $orange;
        }
        .form-control {
            color: $orange;
            &:focus {
                border-color: $orange;
            }
        }
    }

    .all-courses {
        .btn {
            @include button-hover(#fff,#fff,$red,darken($red,10%));
        }
    }
}

// Forums widget
// --------------------------------------------------

.forums-widget {

    .widget-filter {
        &:after {
            color: $red;
        }
        .form-control {
            color: $red;
        }
    }

    .forum-update {
        background-color: $red;
    }
}
