// Page's headers
// --------------------------------------------------

.page-header {
    background-color: $brand-primary;
    border: 0;
    margin: -20px -20px 20px;
    padding: 15px 20px;

    h1, h2, h3, h4, h5, h6 {
        color: white;
        font-size: 5.9vmax;
        font-weight: bold;
        line-height: 0.9;
        margin: 0;

        @media screen and (min-width: $screen-xs-min) {
            font-size: 48px;
            line-height: 1;
        }
    }

    .btn {
        @include button-hover($brand-primary, white, white, $brand-primary);
    }
}

// Secondary page's headers
// --------------------------------------------------

.primary-page-header {
    border: 0;
    margin: 20px 0 10px;
    padding: 0;
    &:first-child, &.first {
        margin-top: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $brand-primary;
        font-size: 5vmax;
        font-weight: bold;
        line-height: 0.9;
        margin: 0;
        @media screen and (min-width: $screen-xs-min) {
            font-size: 36px;
            line-height: 1;
        }
    }
}

.secondary-page-header {
    border: 0;
    margin: 20px 0 10px;
    padding: 0;
    &:first-child, &.first {
        margin-top: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $brand-primary;
        font-family: $font-family-sans-serif;
        font-size: 3vmax;
        font-weight: bold;
        line-height: 1.2;
        margin: 0;
        @media screen and (min-width: $screen-xs-min) {
            font-size: 20px;
        }
    }
}
