{% extends 'account/base.html' %}
{% load i18n %}

<div class="register-page">

    <div class="message">
        <h2>Desculpe</h2>
        <h3>A chave fornecida é invalida.<br/>Falha ao realizar o registro.</h3>
    </div>
    
</div>
