{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}
<div class="login-page">
    <div class="message">
        <h2>Missão Cumprida</h2>
        <h3>Sua conta está ativada</h3>
    </div>

    <form method="post" action="{% url 'account_login' %}" class="login-form">{% csrf_token %}
        <fieldset>
            <legend>Entrar</legend>
            <div class="form-group{% if form.errors %} has-error{% endif %}">
                <label for="username" class="sr-only">Nome de usuário</label>
                <input name="login" type="text" id="username" class="form-control" 
                       value="{{form.login.value|default_if_none:""}}" placeholder='email ou nome de usuário'/>
            </div>
            <div class="form-group{% if form.errors %} has-error{% endif %}">
                <label for="password" class="sr-only">Senha</label>
                <input name="password" type="password" id="password" class="form-control" placeholder='Senha'>
            </div>
            <button type="submit" class="btn btn-submit">Entrar</button>
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="rememberme" style="display:inline-block;"> Lembrar do meu usuário neste computador.
                </label>
            </div>
        </fieldset>
        <p class="info"><a href="{% url 'account_reset_password' %}">Esqueci minha senha</a></p>
    </form>
</div>
{% endblock %}
