{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% block body_attrs %}class="registration registration--email-confirm"{% endblock %}

{% block account_content %}
<div class="login-page">
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        <div class="message">
            {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}
        </div>

        <form onclick="event.stopPropagation()" method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="form-horizontal">{% csrf_token %}
            <button type="submit" class="btn btn-submit">Confirmar</button>
        </form>
    {% else %}
        {% url 'account_email' as email_url %}
        <div class="message">
            {% blocktrans %}This e-mail confirmation link expired or is invalid.<br/>Please <a href="{{ email_url}}">issue a new e-mail confirmation request</a>.{% endblocktrans %}
        </div>
    {% endif %}
</div>
{% endblock %}
