{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}

<div class="login-page">
    {% for error in form.login.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endfor error in %}
    {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endfor %}

    <form method="post" action="{% url 'account_login' %}" class="login-form">{% csrf_token %}
        <fieldset>
            <legend>Redefinição de senha concluída</legend>
            <div class="form-group{% if form.errors %} has-error{% endif %}">
                <label for="username" class="sr-only">Nome de Usuário</label>
                <input name="login" type="text" id="username" class="form-control" 
                       value="{{form.login.value|default_if_none:""}}" placeholder='Email ou nome de usuário'/>
            </div>
            <div class="form-group{% if form.errors %} has-error{% endif %}">
                <label for="password" class="sr-only">Senha</label>
                <input name="password" type="password" id="password" class="form-control" placeholder='Senha'>
            </div>
            <button type="submit" class="btn btn-submit">Entrar</button>
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="rememberme" style="display:inline-block;"> Lembrar do meu usuário neste computador.
                </label>
            </div>
        </fieldset>
        <p class="info"><a href="{% url 'account_reset_password' %}">Esqueci minha senha</a></p>
    </form>
</div>

{% endblock %}
