{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}
<div class="login-page">
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="message">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</div>
    {% else %}
        {% if form %}
            <form action="" method="post" class="form-horizontal register-form">{% csrf_token %}
                <fieldset>
                    <legend>Mudar sua senha</legend>
                    {% with errors=form.password1.errors %}
                    <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <label for="password1" class="sr-only">Senha</label>
                        <input name="password1" type="password" id="password" class="form-control" placeholder="Escolha uma senha forte">
                    </div>
                    {% endwith %}

                    {% with errors=form.password2.errors %}
                    <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <label for="password2" class="sr-only">Confirme a senha</label>
                        <input name="password2" type="password" class="form-control" placeholder="Confirme a senha">
                    </div>
                    {% endwith %}
                    <button class="btn btn-submit">Salvar</button>
                </fieldset>
            </form>
        {% else %}
            <div class="message">Sua senha foi alterada com sucesso</div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
