{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}
<div class="login-page">
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}

    <form onclick="event.stopPropagation()" method="post" action="{% url 'account_reset_password' %}" class="forgot-pass-form">
        <fieldset>
            <legend>Esqueci minha senha</legend>
            {% csrf_token %}
            {% with errors=form.email.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <label for="email">
                    Escreva seu email abaixo para mandarmos uma mensagem com instruções de recuperação da sua conta
                </label>
                <input name="email" type="email" id="email" class="form-control" placeholder="Seu email">
            </div>
            {% endwith %}
            <button type="submit" class="btn btn-submit">Enviar</button>
        </fieldset>
    </form>
</div>
{% endblock %}