{% extends 'account/base.html' %}
{% load i18n %}
{% block account_content %}

<div class="register-page" style="padding-top: 10px; margin-top: -60px;">
    <script type="text/javascript">
        var setOccupation = function(event) {
            elem = document.getElementById("occupation");
            elem.value = event.target.value;
        }
    </script>
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}

    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}

    <form onclick="event.stopPropagation()" method="post" action="{% url 'account_signup' %}" class="register-form">{% csrf_token %}
        <fieldset>
            <legend>Registrar</legend>
            {% with errors=form.username.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <i class="fa fa-user" aria-hidden="true"></i>
                <label for="username" class="sr-only">Nome de usuário</label>
                <input name="username" type="text" value="{{form.username.value|default_if_none:''}}" class="form-control" id="username" placeholder="Nome de usuário">
                {% for error in errors %}<small>{{error}}</small>{% endfor %}
            </div>
            {% endwith %}

            {% with errors=form.email.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <label for="email" class="sr-only">Email</label>
                <input name="email" type="email" id="email" value="{{form.email.value|default_if_none:''}}" class="form-control" placeholder="e-mail">
                {% for error in errors %}<small>{{error}}</small>{% endfor %}
            </div>
            {% endwith %}

            {% with errors=form.cpf.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <i class="fa fa-id-card" aria-hidden="true"></i>
                <label for="cpf" class="sr-only">CPF</label>
                <input name="cpf" type="text" id="cpf" value="{{form.cpf.value|default_if_none:''}}" class="form-control" placeholder="CPF">
                {% for error in errors %}<small>{{error}}</small>{% endfor %}
            </div>
            {% endwith %}

            {% comment %} {% with errors=form.institution.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <i class="fa fa-university" aria-hidden="true"></i>
                <label for="institution" class="sr-only">Instituição</label>
                <input name="institution" type="text" id="institution"
                       value="{{form.institution.value|default_if_none:''}}"
                       class="form-control" placeholder="Instituição">
                {% for error in errors %}<small>{{error}}</small>{% endfor %}
            </div>
            {% endwith %} {% endcomment %}

{% comment %} 
            {% with errors=form.occupation.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <label for="occupation" class="sr-only">Instituição</label>
                <input list="list__occupation-list" type="name"
                       class="form-control" onchange="setOccupation(event)"
                       value="{{form.occupation.value|default_if_none:''}}"
                       placeholder="Você é" />
                <input name="occupation" type="hidden" id="occupation" class="form-control"
                       value="{{form.occupation.value|default_if_none:''}}">
                <datalist id="list__occupation-list">
                    <option value="Gestor Municipal">Gestor Municipal</option>
                    <option value="Gestor Estadual">Gestor Estadual</option>
                    <option value="Coordenador(a) de Educação infantil">Coordenador(a) de Educação infantil</option>
                    <option value="Professor(a) de Educação infantil">Professor(a) de Educação infantil</option>
                </datalist>
                {% for error in errors %}<small>{{error}}</small>{% endfor %}
            </div>
            {% endwith %} {% endcomment %}

            {% with errors=form.password1.errors %}
            <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <label for="password1" class="sr-only">Senha</label>
                <input name="password1" type="password" id="password1" class="form-control" placeholder="Senha">
                {% for error in errors %}<small>{{error}}</small>{% endfor %}
                {% for error in form.non_field_errors %}<small>{{error}}</small>{% endfor %}
            </div>
            {% endwith %}

            {% with errors=form.password2.errors %}
            <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <label for="password2" class="sr-only">Confirmação de senha</label>
                <input name="password2" type="password" id="password2"  class="form-control" placeholder="Confirmação de senha">
            </div>
            {% endwith %}

            {% if terms_required %}
              {% with errors=form.accept_terms.errors %}
              <div class="checkbox{{ errors|yesno:' has-error,' }}">
                  <label for="accept_terms" class="terms">
                      <input name="accept_terms" id="accept_terms" type="checkbox" style="display:inline-block;" {% if form.accept_terms.value %}checked=""{% endif %}>
                      {% url 'flatpage' url='/terms' as terms_url %}
                      {% blocktrans %}I agree to the <a href="{{ terms_url }}" target="_blank">Terms of Use</a>{% endblocktrans %}
                  </label>
              </div>
              {% endwith %}
            {% endif %}
            <button class="btn btn-submit">Registrar</button>
        </fieldset>
        <!-- <p class="info">
            {% load socialaccount %}
            <a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook Connect</a>
            {% for provider in openid_providers %}
            <span> | </span>
            <a href="{% provider_login_url "openid" openid=provider.openid_url  next=current_path %}">{{ provider.name }}</a>
            {% endfor %}
        </p> -->
    </form>

</div>
{% endblock %}
