{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}

<div class="register-page">
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}

    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}

    <form onclick="event.stopPropagation()" method="post" action="{% url 'base_theme:baquara_seed_login' %}" class="register-form">{% csrf_token %}
        <fieldset>
            <legend>Registrar</legend>

            {% with errors=form.login.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }} group-cpf">
                <i class="fa fa-id-card-o" aria-hidden="true"></i>
                <label for="login" class="sr-only">CPF</label>
                <input name="login" type="text" id="login" value="{{form.cpf.value|default_if_none:""}}" class="form-control" placeholder="CPF">
                {% for error in errors %}<small class="help-block">{{error}}</small>{% endfor %}
                <div class="help-cpf">
                    O CPF é sua chave de identificação como sindicalizado no baquara_seed. Insira o número sem pontos e sem traço.
                </div>
            </div>
            {% endwith %}

            {% with errors=form.email.errors %}
            <div class="form-group{{ errors|yesno:' has-error,' }}">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <label for="email" class="sr-only">Email</label>
                <input name="email" type="email" id="email" value="{{form.email.value|default_if_none:""}}" class="form-control" placeholder="Seu Email">
                {% for error in errors %}<small class="help-block">{{error}}</small>{% endfor %}
            </div>
            {% endwith %}

            {% with errors=form.password.errors %}
            <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <label for="password" class="sr-only">Senha</label>
                <input name="password" type="password" id="password" class="form-control" placeholder="Senha">
                {% for error in errors %}<small class="help-block">{{error}}</small>{% endfor %}
                {% for error in form.non_field_errors %}<small class="help-block">{{error}}</small>{% endfor %}
            </div>
            {% endwith %}

            {% with errors=form.password2.errors %}
            <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <label for="password2" class="sr-only">Confirmação de senha</label>
                <input name="password2" type="password" class="form-control" placeholder="Repita a senha">
            </div>
            {% endwith %}

            {% if terms_required %}
              {% with errors=form.accept_terms.errors %}
              <div class="checkbox{{ errors|yesno:' has-error,' }}">
                  <label for="accept_terms" class="terms">
                      <input name="accept_terms" id="accept_terms" type="checkbox" style="display:inline-block;" {% if form.accept_terms.value %}checked=""{% endif %}>
                      {% url 'flatpage' url='/terms' as terms_url %}
                      {% blocktrans %}I agree to the <a href="{{ terms_url }}" target="_blank">Terms of Use</a>{% endblocktrans %}
                  </label>
              </div>
              {% endwith %}
            {% endif %}
            <button class="btn btn-submit">Registrar</button>
        </fieldset>
        <!-- <p class="info">
            {% load socialaccount %}
            <a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook Connect</a>
            {% for provider in openid_providers %}
            <span> | </span>
            <a href="{% provider_login_url "openid" openid=provider.openid_url  next=current_path %}">{{ provider.name }}</a>
            {% endfor %}
        </p> -->
    </form>

</div>
{% endblock %}
