{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}

<div class="login-page">
    <strong><legend><p class="text-center">Ops! Não encontramos o seu cadastro!</p></legend></strong>

    <h4>Por favor, verifique seu nome de usuário e/ou senha. Uma destas informações não foi digitada corretamente.

    Caso esta dificuldade persista, e você seja filiado(a) ao baquara_seed, entre em contato pelo formulário de contato (parte superior da tela) ou pelos telefones <strong>3258-4439</strong> ou <strong>3214-0812</strong>, para que possamos resolver seu problema.

</div>

{% endblock %}
