{% extends 'account/base.html' %}
{% load i18n %}

<div class="register-page">

    <div class="message">
        <h2>Confira sua caixa de email!</h2>
        <h3>Validação de email enviada com sucesso</h3>
    </div>
    
</div>