{% extends "base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}

{% block js %}
    {{ block.super }}

    <script src="https://unpkg.com/angular-sortable-view@0.0.17/src/angular-sortable-view.min.js"></script>
    <script src="https://unpkg.com/checklist-model@1.0.0/checklist-model.js"></script>

    {% compress js %}
    <!-- Core -->
    <script type="text/javascript" src="{% static 'js/core/app.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/controllers.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/services.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/filters.js' %}" charset="utf-8"></script>
    
    <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/markdowneditor.js' %}" charset="utf-8"></script>

    <!-- Certificate -->
    <script type="text/javascript" src="{% static 'js/certificate/app.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/controllers.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/filters.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/services.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/file.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/previewImage.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}" charset="utf-8"></script>
    {% endcompress %}

{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block body_attrs %}
ng-app="certification"
{% endblock %}

{% block content %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        function onFileSelected(event) {
            var selectedFile = event.target.files[0];
            var reader = new FileReader();
            var imgtag = document.getElementById(event.target.id + "-preview");

            reader.onload = function(event) {
                imgtag.src = event.target.result;
            };

            reader.readAsDataURL(selectedFile);
        }

        function onImgNotFound(event) {
            $(this).attr('src', '{% static "img/avatar-default.png" %}')
        }

        $("#base-logo, #site-logo, #cert-logo, #signature").change(onFileSelected);

        $("#profile-avatar").error(onImgNotFound);
    });
</script>
<section class="course certificate" ng-controller="CertificateTemplateCtrl">

  <!-- ACTIONS -->
  <div class="actions-menu" fixed-bar>
    <div class="container-fluid">
      <div class="row">
        {% include 'administration/_alert.html' %}
        <a href="{% url 'courses_legacy:administration.certificates' %}" class="btn btn-sm btn-danger cancel">'Cancelar'</a>
        <div class="actions-buttons pull-right">
          {% verbatim %}
          <button class="btn btn-sm btn-info" ng-class="{ 'edit' :  preview, 'preview' : !preview }" ng-click="preview = !preview">{{ preview ? "Editar" : "Visualizar" }}</button>
          {% endverbatim %}
          <button class="btn btn-sm btn-primary btn-inverse save" ng-click="saveTemplate()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END ACTIONS -->

  <section class="certificate-content page container-fluid">
      {% verbatim %}
      <header class="page-header">
        <h3>{{ page_title }}</h3>
        <p class="lead">
          {{ ct.certificate_template.course_name }} no contrato: {{ ct.contract.name }}
          <span ng-hide="preview">
              <a href="/legacy/admin/certificate_settings/{{ ct.associate }}"
                 class="btn btn-sm btn-primary action-button">
                <i class="fa fa-cog"></i>
                Configurar {{ ct.type == 'receipt' ? 'Certificado' : 'Recibo' }}
              </a>
              <span class="btn btn-sm btn-primary action-button" ng-click="help = !help">
                <i class="fa fa-question-circle hint-tooltip"></i>
                ajuda
              </span>
          </span>
        </p>
      </header>

      <div class="edit-certificates" ng-hide="preview">
        <div class="alert alert-info" role="alert" ng-class="{hide: !help}" style="">
          <ul>
            <li>Nunca se esqueça de <strong>Salvar</strong> qualquer alteração que venha fazer. Antes de salvar
              é possível e recomendável visualizar as alterações feitas
            </li>
            <li class="certificate-help">
              Para editar o texto do template, use o editor abaixo e suas funcionalidades.
              No texto, você poderá colocar os seguinte indicadores, que serão substituídos de acordo com a descrição:
              <ul>
                <li>{CPF} : CPF do usuário</li>
                <li>{MODULO}: Nome do módulo do certificado</li>
                <li>{CONTRATO} : Nome do contrato</li>
                <li>{NUM_UNIDADES} : Número de unidades do módulo</li>
                <li>{TURMA} : Turma na qual foi concluído o módulo</li>
              </ul>
            </li>
            <li>
              Para excluir uma imagem do template, basta que dê dois cliques na mesma
            </li>
            <li>
              Ao clicar em cancelar, você voltará para a página de listagem de certificados. Lembre-se sempre de
              <strong>Salvar</strong> qualquer alteração que tenha feito e queira manter
            </li>
            <li ng-bind-html="message"></li>
          </ul>
        </div>
        <div class="certificate-container certificate-admin" ng-class="{'receipt-admin receipt' : ct.type == 'receipt'}">
          <div class="certificate-logos">
            <!-- <div class="certificate-logo"> -->
              <img alt="" ng-dblclick="reset($event, 'base_logo')" preview-image ng-model="images.base_logo" ng-src="{{ ct.certificate_template.base_logo_url }}"
                   class="img-responsive" />
              <file clear-button id="base-logo" ng-model="images.base_logo" name="logo"></file>
            <!-- </div> -->
            <!-- <div class="certificate-logo">
              <img alt="" ng-dblclick="reset($event, 'site_logo')" preview-image ng-model="images.site_logo" ng-src="{{ ct.site_logo_url }}" class="img-responsive" />
              <file id="site-logo" ng-model="images.site_logo" name="logo"></file>
            </div>
            <div class="certificate-logo">
              <img alt="" ng-dblclick="reset($event, 'cert_logo')" preview-image ng-model="images.cert_logo" ng-src="{{ ct.certificate_template.cert_logo_url }}" class="img-responsive" />
              <file id="cert-logo" ng-model="images.cert_logo" name="logo"></file>
            </div> -->
          </div>
          <div class="certificate-title">{{ document_title }}</div>
          <div class="certificate-info">
            <p>{{ ct.type == 'receipt' ? 'Declaramos' : 'Certificamos' }}, para os devidos fins, que</p>
            <p class="student">____________________________________</p>
            <div class="certificate-template">
              <textarea ui-tinymce class="editable-text" rows="3" ng-model="ct.text" required
                        placeholder="concluiu o módulo {nome_curso} no ambiente virtual de aprendizagem Programa Paralapracá, perfazendo o total de {carga_horaria} horas."></textarea>
            </div>
          </div>
          <footer>
              <div class="certificates-signatures">
                <div class="coordinator-section">
                  <div class="certificate-signature">
                      <img alt="Signature" src="/static/img/assinatura-sergio.png">
                  </div>
                  <p class="name-coordinator">Segio Antiqueira</p>
                  <p class="role-coordinator">Presidente
                      
                  </p>
                </div>
                <div class="coordinator-section">
                  <div class="certificate-signature">
                      <img alt="" 
                          ng-dblclick="reset($event, 'signature')"
                          preview-image
                          ng-model="images.signature"
                          ng-src="{{ ct.certificate_template.signature_url }}"
                          class="img-responsive" />
                      <file id="signature" ng-model="images.signature" name="logo"></file>
                  </div>
                  <div class="editable editable-text name-coordinator">
                      <input type="text" ng-model="ct.certificate_template.name" placeholder="Digite o nome" />
                    </div>
                    <div class="editable editable-text role-coordinator">
                      <input type="text" ng-model="ct.certificate_template.role" placeholder="Digite o cargo" />
                    </div>
                </div>
              </div>
              <div class="credits-section">
                <p ng-show="ct.type == 'certificate'"><b>Emitido em:</b> 01/11/2019</p>
                <p><b>Realizado em:</b> </p>
                <p><b>URL de validação:</b> <a href="{% url 'courses_legacy:certificate' object.link_hash %}">https://baquara_seed.politicapublica.social//(código)</a></p>
              </div>
          </footer>
        </div>
      </div>

      <div class="certificate-container" ng-class="{'receipt' : ct.type == 'receipt'}" ng-hide="!preview">
        <div class="certificate-logos">
            <img id="base-logo-preview" src="{{ ct.certificate_template.base_logo_url }}" alt="" class="avante">
            <img id="site-logo-preview" src="{{ ct.site_logo_url }}" alt="" class="paralapraca">
            <div class="certificate-logo">
                <img id="cert-logo-preview" alt="" src="{{ ct.certificate_template.cert_logo_url }}">
            </div>
        </div>
        <div class="certificate-title">{{ document_title }}</div>
        <div class="certificate-info">
            <p>Certificamos, para os devidos fins, que</p>
            <p class="student">{{ object.course_student.user.get_full_name }}</p>

            <span ng-bind-html="ct.text"></span>
        </div>
        <footer>
            <div class="certificates-signatures">
              <div class="coordinator-section">
                <div class="certificate-signature">
                    <img alt="Signature" src="/static/img/assinatura-sergio.png">
                </div>
                <p class="name-coordinator">Segio Antiqueira</p>
                <p class="role-coordinator">Presidente
                    
                </p>
              </div>
              <div class="coordinator-section">
                <div class="certificate-signature">
                    <img id="signature-preview" alt="" src="{{ ct.certificate_template.signature_url }}">
                </div>
                <p class="name-coordinator">{{ ct.certificate_template.name }}</p>
                <p class="role-coordinator">{{ ct.certificate_template.role }}</p>
              </div>
            </div>
            <div class="credits-section">
              <p ng-show="ct.type == 'certificate'"><b>Emitido em:</b> 01/11/2019</p>
              <p><b>Realizado em:</b> </p>
              <p><b>URL de validação:</b> <a href="{% url 'courses_legacy:certificate' object.link_hash %}">https://baquara_seed.politicapublica.social//(código)</a></p>
            </div>
        </footer>
      </div>
      {% endverbatim %}
  </section>
</section>
{% endblock %}
