{% extends "base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}

{% block js %}
    {{ block.super }}
    <script src="https://unpkg.com/ui-select@0.19.8/dist/select.min.js"></script>

    {% compress js %}
        <!-- Course Permissions -->
        <script type="text/javascript" src="{% static 'js/course-permissions/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/course-permissions/controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/course-permissions/services.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
        
    {% endcompress %}
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block body_attrs %}
ng-app="course-permissions"
{% endblock %}

{% block content %}

<section class="course permissions" ng-controller="PermissionsController">
		<!-- ACTIONS -->
        <div class="actions-menu" fixed-bar>
            <div class="container">
                <div class="actions-buttons">
                    <button class="btn btn-danger" ng-click="cancel_permissions_changes()">Cancelar | <i class="fa fa-times"></i></button>
                    <button class="btn btn-success" ng-click="save_permissions()">Salvar | <i class="fa fa-save"></i></button>
                </div>
                {% include 'administration/_alert.html' %}
            </div>
        </div>
        <!-- END ACTIONS -->

    {% include "_admin_header_inline.html" with course=course %}

    <section class="permissions-content page container-fluid">
        <header class="page-header">
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <h3>Permissões Do Curso</h3>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a class="btn btn-primary" ng-click="new_professors()">Adicionar Usuário</a>
                </div>
            </div>
        </header>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="fullname">Nome Completo</th>
                    <th class="email">Email</th>
                    <th class="username">Usuário</th>
                    <th class="role">Cargo</th>
                    <th class="actions">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="professor in professors">
                    {% verbatim %}
                    <td>{{professor.get_name}}</td>
                    <td>{{professor.user_info.email}}</td>
                    <td>{{professor.user_info.name}}</td>
                    {% endverbatim %}
                    <td>
                        <select class="form-control" ng-model="professor.role" ng-change="update_professor_role(professor)">
                            <option value="instructor">Instrutor</option>
                            <option value="assistant">Professor Assistente</option>
                            <option value="coordinator">Professor Coordenador</option>
                        </select>
                        {{ professor.role }}
                    </td>
                    {% verbatim %}
                    <td class="textcenter">
                        <button class="btn btn-warning" ng-click="remove_professor(professor.id, $index)"><i class="fa fa-trash-o"></i></button>
                    </td>
                    {% endverbatim %}
                </tr>
            </tbody>
        </table>
        <!-- <header class="page-header">
            <h3>Grupos de acesso</h3>
        </header> -->
        {% verbatim %}
        <!-- <ui-select multiple theme="bootstrap" class="form-control" ng-model="course_groups.groups" ng-show="!modal.all_students && !modal.specify_students" close-on-select="false">
            <ui-select-match placeholder="Escolha um ou mais grupos">{{ group_label($item) }}</ui-select-match>
            <ui-select-choices repeat="group.id as group in groups | filter: {name: $select.search}" group-by="contract_name">
                <div ng-bind-html="get_as_safe_html((group.name | highlight: $select.search))"></div>
            </ui-select-choices>
        </ui-select> -->
        {% endverbatim %}

    </section>
    <!-- modal add user -->
    <script type="text/ng-template" id="newProfessorModal.html">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                        <h4 class="modal-title" id="add-users-modal-label">Adicionar Usuário</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <label for="search-user" class="control-label">Buscar um Usuário</label>
                            <div class="autocomplete">
                                <input type="text" id="search-user" class="form-control" ng-model="asyncSelected"
                                        placeholder="Digite o nome, email ou usuário do(a) professor(a) que deseja pesquisar..."
                                        uib-typeahead="user as user.formated_name for user in getUsers($viewValue)"
                                        typeahead-loading="loadingLocations"
                                        typeahead-on-select="on_select_professor($model); asyncSelected = '';"
                                        typeahead-min-length="2"
                                        typeahead-wait-ms="500">
                                <i ng-show="loadingLocations" class="loading fa fa-refresh fa-spin"></i>
                            </div>
                            <table class="table table-list" ng-show="new_professors.length">
                                <tr>
                                    <th class="fullname">Nome Completo</th>
                                    <th class="email">Email</th>
                                    <th class="username">usuário</th>
                                    <th class="actions">Ações</th>
                                </tr>
                                <tr ng-repeat="new_professor in new_professors">
                                    {% verbatim %}
                                    <td>{{new_professor.name}}</td>
                                    <td>{{new_professor.email}}</td>
                                    <td>{{new_professor.username}}</td>
                                    {% endverbatim %}
                                    <td class="textcenter td-actions"><button class="btn btn-warningtex" ng-click="remove_new_professor($index)"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-click="add_professors()">Adicionar Usuários</button>
                    </div>
                </div>
    </script>

</section>

{% endblock %}
