{% extends "base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compress js %}
        <!-- Reports -->
        <script type="text/javascript" src="{% static 'js/reports/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/reports/controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/reports/services.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
    {% endcompress %}
    <script>
        window.course_id = {{ course.pk }};
        window.user_id = {{ user.pk }};
        {% if user.is_staff or user.is_superuser  %}
        window.is_admin = true;
        {% else %}
        window.is_admin = false;
        {% endif %}
    </script>
{% endblock %}

{% block body_attrs %}
    ng-app="reports"
{% endblock %}

{% block content %}
<div class="course course-stats">

    {% if in_admin %}
        {% include "_admin_header_inline.html" with course=course %}
    {% else %}
        {% include "_course-header-inline.html"  with course=course %}
    {% endif %}

    <section class="stats-content page container-fluid" ng-controller="ReportsCtrl">

        <header class="page-header">
            <h3>Relatório dos Espaços Formativos</h3>
        </header>

        <!-- FILTERS -->
        <div class="filters">
            <!--  FORM INLINE -->
            <form class="form-inline">
                <!-- ROW -->
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <label for="filter-class"> <span>Filtrar turmas:</span>
                            <select class="form-control" id="filter-class" ng-model="filters.selected_class" ng-change="filter_stats()">
                                <optgroup label="Liste por:">
                                    <option ng-if="my_classes.length" value="my_classes">Minhas turmas</option>
                                    <option value="all" ng-if="current_user_role == 'coordinator'">Todas as turmas deste curso</option>
                                    <option value="others_classes" ng-if="current_user_role == 'coordinator' && others_classes.length">Turmas dos outros professores</option>
                                </optgroup>
                                <optgroup ng-if="others_classes.length || my_classes.length " label="Ou escolha uma turma:">
                                    {% verbatim %}
                                    <option ng-repeat="klass in my_classes" id="{{klass.id}}" value="{{klass.id}}">{{ klass.name }}</option>
                                    <option ng-repeat="klass in others_classes" id="{{klass.id}}" value="{{klass.id}}">{{ klass.name }}</option>
                                    {% endverbatim %}
                                </optgroup>
                            </select>
                        </label>
                    </div>
                    <div class="filter-keyword col-md-4 col-sm-6">
                        <input type="text" ng-model="filters.textsearch" placeholder="Digite uma palavra-chave" class="form-control">
                    </div>
                    <div class="filter-ordering col-lg-3 col-md-2 col-sm-6">
                        <select ng-model="ordering" class="form-control">
                            <option value="name">Ordenar por nome</option>
                            <option value="course_progress">Progresso</option>
                        </select>
                    </div>
                </div>
                <!-- END ROW -->
                <div class="filter-reverse pull-right">
                    <button class="btn btn-sm" ng-class="{active:reverse}" ng-click="reverse=!reverse"><i class="fa fa-refresh" aria-hidden="true"></i> Inverter ordem da lista</button>
                </div>
            </form>
            <!-- END FORM INLINE -->
        </div>
        <!-- END FILTERS -->

        <section class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#students" data-toggle="tab">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            Alunos
                        </a>
                    </li>
                    <li>
                        <a href="#lessons" data-toggle="tab">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            Capítulos
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" class="students-list" id="students">
                        <div ng-hide="users_reports.$resolved">
                            <p>Carregando os relatorios dos alunos...   <i class="loading fa fa-refresh fa-spin"></i></p>
                        </div>
                        <div ng-show="users_reports.$resolved">
                            <h3>Progresso dos alunos</h3>
                            <p class="students-total">Numero total de alunos: <span>{% verbatim %}{{ users_reports.length }}{% endverbatim %}</span></p>
                            <!--
                            <div class="col-sm-4 textright">
                                <input type="text" placeholder="{% blocktrans %}Search student{% endblocktrans %}" class="form-control search-filter">
                            </div>
                            -->
                        </div>
                        <ul class="students" ng-show="users_reports.$resolved">
                            <li ng-repeat="user in (filteredList = (users_reports | orderBy:ordering:reverse | filter:filters.check))">
                                <div class="row">
                                {% verbatim %}
                                    <div class="col-sm-1 col-xs-2">
                                        <div class="user-icon">
                                            <a ng-href="/profile/{{ user.username }}"><img ng-src="{{ user.picture }}" alt="{{ user.name }}"></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-8">
                                        <strong>{{ user.name }}</strong><br>
                                        (<a ng-href="/profile/{{ user.username }}">{{ user.email }}</a>)
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-2 course-progress">
                                        <span class="progress-label">{{ user.course_progress }}%</span>
                                        <div class="progress hidden-xs">
                                            <div class="progress-bar" style="width:{{ user.course_progress }}%;"></div>
                                        </div>
                                    </div>
                                {% endverbatim %}
                                    <div class="col-md-2 col-sm-3 col-xs-12 textright">
                                        <span class="btn btn-sm btn-primary" ng-click="show_user_progress_details(user);showLessons=!showLessons">
                                            Mostrar Etapas
                                            <i class="fa" ng-class="{'fa fa-caret-down':!showLessons,'fa fa-caret-up':showLessons}"></i>
                                        </span>
                                    </div>
                                    <div class="lessons col-xs-12" ng-if="showLessons">
                                        <div class="col-lg-12" ng-hide="user.lessons_stats.$resolved">
                                            <span>Carregando relatorio do progresso...   <i class="loading fa fa-refresh fa-spin"></i></span>
                                        </div>
                                        <div class="chapter" ng-repeat="lesson in user.lessons_stats.lessons_progress">
                                            {% verbatim %}
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-4 col-xs-10">{{ lesson.name }}</div>
                                                <div class="col-sm-3 col-xs-2 chapter-progress">
                                                    <div class="progress-label">{{ lesson.progress | number:0 }}%</div>
                                                    <div class="progress hidden-xs">
                                                        <div class="progress-bar" style="width:{{ lesson.progress }}%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="activity" ng-repeat="activity in lesson.activities">
                                                <div class="row">
                                                    <div class="col-sm-offset-1 col-sm-4 col-xs-8">
                                                          <div class="activity-name"><a href="../lesson/{{lesson.slug}}/#/{{activity.position+1}}" target="_blank">{{activity.name}}</a></div>
                                                    </div>
                                                    <div class="col-sm-3 col-xs-4 textright">
                                                        <div class="stats" ng-class="{ 'done': activity.done == 'true', 'undone': activity.done == 'false' }">
                                                            <span class="icon"></span>
                                                            <span ng-show="activity.done == 'true'">Feito</span>
                                                            <span ng-hide="activity.done == 'true'">Não Feito</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endverbatim %}
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane fade in" id="lessons">
                        <div class="row">
                            <div class="col-lg-8">
                                <h3>Progresso médio dos alunos por turma</h3>
                                <div class="col-lg-12" ng-hide="course_stats.$resolved">
                                    <p>Carregando relatório de etapas...   <i class="loading fa fa-refresh fa-spin"></i></p>
                                </div>
                            </div>
                        </div>
                        <ul class="lessons">
                            <li class="lesson" ng-repeat="lesson in course_stats.lessons_avg_progress">
                                {% verbatim %}
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-10">
                                        <div class="lesson-name">{{ lesson.name }}</div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 course-progress">
                                        <span class="progress-label">{{ lesson.progress  | number:0  }}%</span>
                                        <div class="progress hidden-xs">
                                            <div class="progress-bar" style="width:{{ lesson.progress }}%;"></div>
                                        </div>
                                    </div>
                                    <!--<div class="col-lg-5">
                                        <span>0 perguntas no fórum</span>
                                        <span>0 respostas no fórum</span>
                                        <span>0 anotações</span>
                                    </div>-->
                                </div>
                                {% endverbatim %}
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>


{% endblock content %}
