#certificate-content {
    .certificate-container {
        margin-top: 30px;
    }
    .container-fluid {
        padding: 0;
    }
}
.edit-certificates {
    margin-top: 20px;

    .alert {
        color: #000;
    }
}
.certificate-container {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    @media screen and (min-width: $screen-sm-min) {
        background-size: 100%;
        background-repeat: no-repeat;
        border: 0;
        padding: 22px;
    }
    @media screen and (min-width: $screen-md-min) {
        max-width: 870px;
        padding: 30px;
    }
    .certificate-title {
        font-family: $font-family-serif;
        font-size: 4.5vmax;
        line-height: 1;
        margin: 50px 0 10px;
        text-align: center;
        text-transform: uppercase;
        @media screen and (min-width: $screen-sm-min) {
            font-size: 4vmax;
            margin: 0 0 10px;
        }
        @media screen and (min-width: $screen-md-min) {
            font-size: 64px;
            margin: 0 0 20px;
        }
    }
    .certificate-logos {
        max-width: 80%;
        margin: 0 auto 40px;

        img {
            max-width: 100%;
        }
    }
    .certificate-info {
        text-align: center;
        p {
            font-size: 12px;
            margin-bottom: 5px;
            @media screen and (min-width: $screen-md-min) {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
        .student {
            font-family: $font-family-serif;
            font-size: 3.5vmax;
            font-weight: $bold;
            line-height: 1;
            @media screen and (min-width: $screen-md-min) {
                font-size: 2vmax;
            }
            @media screen and (min-width: $screen-md-min) {
                font-size: 22px;
            }
        }
    }
    footer {
        font-size: $font-size-small;
        @media screen and (min-width: $screen-md-min) {
            bottom: 40px;
            left: 45px;
            right: 45px;
        }
        .certificates-signatures {
            margin-bottom: 40px;

            @media screen and (min-width: $screen-sm-min) {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                & > * {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex: 1;
                    text-align: center;

                }
            }
        }
        .credits-section {
            margin: 15px 0;
            @media screen and (min-width: $screen-sm-min) {
                margin: 0;
            }
            p {
                margin: 5px 0 0;
                @media screen and (min-width: $screen-md-min) {
                    margin: 10px 0 0;
                }
            }
            a {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @media screen and (min-width: $screen-sm-min) {
                    display: inline;
                }
            }
        }
        .coordinator-section {
            p {
                margin-bottom: 0;
            }
            .name-coordinator {
                font-weight: bold;
            }
            .role-coordinator {
                font-style: italic;
            }
        }
    }
}
.certificate-signature {
    margin-bottom: 10px;
    position: relative;
    .btn {
        position: absolute;
        right: -120px;
        bottom: 30px;
        box-shadow: 2px 2px 5px 0px rgba(173, 173, 173, 1);
    }
    p {
        background-color: #fff;
        margin-bottom: 5px;
    }
    img {
        height: 40px;
        @media screen and (min-width: $screen-md-min) {
            height: 60px;
        }
    }
}
.certificate-admin {
    counter-reset: steps-counter;
    .institute-logo {
        max-width: 150px;
        input {
            margin-top: 10px;
            width: 120px;
        }
    }
    .text-muted, .student {
        cursor: not-allowed;
    }
    .coordinator-section {
        width: 180px;
        margin: 0 -15px -15px 0;
        .certificate-signature {
            input {
                font-size: $font-size-base;
                margin-top: 5px;
                width: 120px;
            }
        }
        .role-coordinator {
            font-style: normal;
        }
        .editable-text {
            margin-bottom: 0;
        }
    }
    .institute,
    .institute-logo,
    .name-coordinator,
    .role-coordinator,
    .certificate-signature {
        &:before {
            background-color: $brand-warning;
            border-radius: 100%;
            color: #fff;
            content: counter(steps-counter);
            display: inline-block;
            font-size: $font-size-base;
            font-weight: $bold;
            height: 20px;
            left: -25px;
            line-height: 20px;
            position: absolute;
            text-align: center;
            width: 20px;
        }
    }
    .institute {
        margin-right: 5px;
        input {
            display: inline-block;
            width: 200px;
        }
        &:before {
            left: -40px;
        }
    }
    .institute,
    .institute-logo,
    .name-coordinator,
    .role-coordinator,
    .certificate-signature {
        counter-increment: steps-counter;
        position: relative;
    }
}
