// Shared classroom header
// --------------------------------------------------
.classroom-intro .main-header {
  background-color: $brand-secondary;
  color: white;
  margin-top: 0;
  padding: 15px;

  @media screen and (min-width: 1025px) {
    margin-top: -30px;
  }

  & > .container-fluid {
    max-width: 1238px;
  }

  .classroom-name {
    font-size: 40px;
    margin: 0;
  }

  .classroom-slug {
    margin-bottom: 5px;

    label {
      color: inherit;
      font-weight: normal;
    }
  }

  .classroom-details {
    font-size: $font-size-small;
    margin-top: 5px;
    text-transform: uppercase;

    .label {
      color: $gray;
      font-weight: normal;
      padding: 0;
      font-size: inherit;
    }

    a {
      color: $brand-primary;

      &:hover {
        color: darken($brand-primary, 10%);
      }

      &.classroom-instructor:after {
        content: " // ";
        color: black;
        margin-right: 3px;
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}

.classroom-content {
  margin: 0 auto 25px;
  padding: 0 15px;

  @media screen and (min-width: $screen-xs-min) {
    margin: 0 auto 40px;
  }
  .widget-title, .title {
    font-size: 40px;
  }
  .title {
    color: $brand-primary;
  }
  .summary {
    .btn-info .text-info {
      // data selecionada dentro do datepicker
      color: #fff;
    }
  }
}


// classroom VIDEO - General
// ********************************************************************* //
.classroom-video {
  margin: 0 auto 0px;
  max-width: 720px;
}

.classroom-intro {
  .space-between {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  .classroom-content {
    max-width: 1238px !important;

    .classroom-info {
      margin-bottom: 40px;

      @media screen and (min-width: $screen-md-min) {
        display: flex;
      }

      .column {
        background-color: $gray-lighter;
        box-sizing: border-box;
        padding: 20px;

        @media screen and (min-width: $screen-xs-min) {
          padding: 30px;
        }

        @media screen and (min-width: $screen-md-min) {
          width: 60%;
        }

        &:last-child {
          background-color: darken($gray-lighter, 5%);

          @media screen and (min-width: $screen-md-min) {
            width: 40%;
          }
        }
      }

      .another-info {
        margin-top: 30px;
      }
    }
  }

  .classroom-intro-sidebar {
    .img-responsive, .classroom-description {
      margin-bottom: 20px;
    }
  }

  .classroom-courses {
    .title {
      margin-bottom: 20px;
    }

    .course-box {
      display: block;
      height: 100%;
    }
  }

  .classroom-forum {
    h3.section-title {
      color: $brand-secondary;
      padding-bottom: 10px;
    }

    .user-update {
      margin-bottom: 15px;

      .info {
        color: $gray-dark;
        margin-bottom: 0;

        a {
          color: inherit;
          font-size: inherit;
          font-weight: bold;
        }
      }

      .user-icon img {
        border: 2px solid white;
      }

      .last-update {
        color: $gray-dark;
        margin: 5px 0;

        @media screen and (max-width: $screen-xs-min) {
          margin-left: 50px;
        }
      }
    }

    .action {
      color: $gray-dark !important;
      font-weight: bold;

      &.liked:before {
        color: $red;
      }

      &.replies:before {
        color: $blue;
        content: "\f075";
      }
    }

    .forum-list {
      table tr td {
        width: auto !important;
      }

      .last-update {
        font-size: 12px;

        a {
          color: $gray-dark;
          font-weight: bold;
        }
      }
    }

    .see-all-topics .btn {
      background-color: $brand-secondary;
      font-size: 1em;
    }
  }
}

.classroom-chat {
  margin-top: 20px;

  #chat-frame {
    position: relative;
    width: 100%;
    height: 600px;
  }
}

.classroom-repository {
  padding-top: 20px;

  .repository-widget {
    .widget-header {
      background-color: white;

      .btn {
        // Btn appear as red
        // color: white;
        @include button-hover($btn-danger-color, $btn-danger-bg, $btn-danger-bg, $btn-danger-border);
      }
    }

    .widget-title {
      color: $brand-primary;
    }
  }

  .cards {
    .cards-search {
      .line {
        align-items: center;
        display: flex;
        flex-wrap: wrap;

        form {
          flex: 1;
          margin-right: 10px;
          min-width: 300px;
        }
      }

      .no-padding-left {
        padding-left: 0px;
      }

      .open-filters {
        padding-left: 0px;

        .btn.opened, .btn.closed {
          @media screen and (max-width: 991px) {
            margin-top: 10px;
          }
        }

        .button-label {
          border-radius: 6px;
          color: white;
          font-size: 15px;

          &.closed {
            @include icon(after, chevron-down);
          }

          &.opened {
            @include icon(after, chevron-up);
          }
        }
      }
    }

    .cards-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      grid-gap: 30px;
    }

    .card {
      background-color: $well-bg;
      margin-bottom: 0px !important;

      .card-axis {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .card-author {
        color: $gray-light;

        a {
          color: inherit;
          font-weight: bold;
        }
      }

      .action {
        color: $gray-dark !important;
        font-weight: bold;

        &.liked:before {
          color: $red;
        }

        &.replies:before {
          color: $blue;
          content: "\f075";
        }

        &.inactive {
          color: $gray-light !important;

          &:before {
            color: $gray-light !important;
          }
        }
      }
    }
  }
}

.modal-professor.modal-create-card {
  .form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .title-input {
    color: $brand-primary;
    font-family: $headings-font-family;
    font-size: 40px;
    height: auto;
  }

  .mce-tinymce {
    background: transparent;
    border: none !important;

    .mce-panel {
      border: none;
    }

    .mce-toolbar-grp, .mce-edit-area {
      border: 1px solid #ddd !important;
    }

    .mce-toolbar-grp {
      border-radius: 5px 5px 0 0;
    }

    .mce-edit-area {
      &, & iframe {
        border-radius: 0 0 5px 5px;
      }
    }

    .mce-statusbar {
      display: none;
    }
  }

  .box {
    background-color: $brand-primary;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;

    label {
      color: white;
    }
  }
}
