// My classrooms' pages
// --------------------------------------------------

.my-classrooms {
  .classroom {
      margin-bottom: 30px;
      margin-top: 0;
      .buttons {
          text-align: right;
          .btn {
              margin-left: 10px;
          }
      }
  }
}