// Activities
.course-activity {
    background-color: rgba($gray,0.3);
    padding: 30px;
    position: relative;

    .question {
        h1 {
            color: $brand-primary;
            font-family: $headings-font-family;
            font-size: 30px;
            margin: 0 0 30px 0;
        }
    }

    .answers {
        margin: 20px 0;
    }

    .simplechoice-answers {
        .answer {
            font-size: 16px;
            label {
                vertical-align: top;
                .icons {
                    display: inline !important;
                    margin-top: 10px;
                    position: static !important;
                }
            }
        }
    }

    .multiplechoice-answers {
        .answer {
            font-size: 16px;
            label {
                vertical-align: top;
                .icons {
                    display: inline !important;
                    margin-top: 10px;
                    position: static !important;
                }
            }
        }
    }

    .trueorfalse-answers {
        .answer {
            font-size: 16px;
            margin: 10px 0;
            padding: 10px 0;
        }
    }

    .relationship-answers {
        .answer {
            font-size: 16px;
            margin: 10px 0;
            padding: 10px 0;
            > * {
                line-height: 2;
            }
        }
    }

    .slides {
        margin: -30px -30px 20px; 
        min-height: 207px;
        max-width: 960px;
        max-height: 540px;
        @media screen and (min-width: $screen-xs-min) {
            min-height: 261px;
        }
        @media screen and (min-width: $screen-sm-min) {
            min-height: 434px;
        }
        @media screen and (min-width: $screen-md-min) {
            margin-bottom: 30px;
            min-height: 540px;
        }
        .slides-material {
            @include aspect-ratio(960, 540);
            //pointer-events: none;
        }
        img {
            margin: 0 auto; 
        }
        .slides-navigation {
            background-color: $brand-primary;
            clear: both;
            color: #fff;
            padding: 8px;
            text-align: center;
            position: relative;
            bottom: 0;
            width: 100%;
        }
        .previous, .next, .slides-number {
            display: inline-block;
        }
        .previous, .next {
            color: #fff;
            cursor: pointer;
            font-size: $font-size-small;
            font-weight: $semi-bold;
            height: 34px;
            line-height: 32px;
            position: relative;
            vertical-align: bottom;
            text-indent: -999999px;
            @media screen and (min-width: $screen-xs-min) {
                text-indent: 0;
            }
            @media screen and (min-width: $screen-md-min) {
                height: 45px;
                line-height: 40px;
            }
        }
        .previous {
            padding-right: 40px;
            @media screen and (min-width: $screen-md-min) {
                padding-right: 45px;
            }
            &:after {
                border-top: 15px solid transparent;
                border-right: 25px solid #fff;
                border-bottom: 15px solid transparent;
                content: '';
                height: 0;
                width: 0;
                position: absolute;   
                right: 0;
                top: 2px;
                @media screen and (min-width: $screen-md-min) {
                    border-top: 20px solid transparent;
                    border-right: 35px solid #fff;
                    border-bottom: 20px solid transparent;
                }
            }
        }
        .next {
            padding-left: 40px;
            @media screen and (min-width: $screen-md-min) {
                padding-left: 45px;
            }
            &:before {
                border-top: 15px solid transparent;
                border-left: 25px solid #fff;
                border-bottom: 15px solid transparent;
                content: '';
                height: 0;
                width: 0;
                position: absolute;   
                left: 0;
                top: 2px;
                @media screen and (min-width: $screen-md-min) {
                    border-top: 20px solid transparent;
                    border-left: 35px solid #fff;
                    border-bottom: 20px solid transparent;
                }
            }
        }
        .slides-number {
            background-color: #fff;
            border-radius: 25px;
            color: $brand-primary;
            font-size: 16px;
            font-weight: $bold;
            margin: 0 15px; 
            padding: 6px 15px;
            @media screen and (min-width: $screen-md-min) {
                font-size: $font-size-large;
                margin: 0 20px; 
                padding: 10px 20px;
            }
        }
    }

    .alert {
        font-weight: $bold;
        .fa {
            margin-right: 5px;
        }
    }

    .submit {
        margin-top: 40px;
    }

    label {
        font-weight:normal;
    }

    .wrong {
        color: $brand-danger;
    }

    .correct {
        color: $brand-success;
    }

    table tr, table tr td {
        border:none;
    }

    .textcenter {
        text-align: center;
    }

    .textright {
        text-align: right;
    }

    .forum-thread {
        background-color: transparent;
        padding: 0;
    }

    // Flat UI Styles
    // Checkbox & Radio
    // --------------------------------------------------

    .checkbox,
    .radio {
        margin-bottom: 12px;
        position: relative;
        @include transition(color .25s linear);

        input {
            outline: none !important;
            display: none;
        }

        span {
            margin-left: 25px;
            &.icons {
                margin: 0 auto;
                span {
                    margin: 0 auto;
                }
            }
        }

        // Replace icons
        // --------------------------------------------------
        .icons {
            color: $gray;
            display: block !important;
            height: 21px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 21px;
            text-align: center;
            line-height: 23px;
            font-size: 23px;
            @include transition(color .25s linear);

            .first-icon,
            .second-icon {
                position: absolute;
                left: 0;
                top: 0;
                @include opacity(100);
            }
            .second-icon {
                @include opacity(0);
            }
        }

        // Alternate States
        // --------------------------------------------------

        // Hover State
        &:hover {
            cursor:pointer;
            .first-icon {
                @include opacity(0);
            }
            .second-icon {
                @include opacity(100);
            }
        }

        // Checked State
        &.checked {
            color: $link-color;

            .icons {
                color: $brand-success;
            }
            .first-icon {
                @include opacity(0);
            }
            .second-icon {
                @include opacity(100);
            }
        }

        // Disabled state
        &.disabled {
            cursor: default;
            color: mix($gray, white, 38%);

            .icons {
                color: mix($gray, white, 38%);
                }
                .first-icon {
                    @include opacity(100);
                }
                .second-icon {
                    @include opacity(0);
                }
                &.checked {
                .icons {
                    color: mix($gray, white, 38%);
                }
                .first-icon {
                    @include opacity(0);
                }
                .second-icon {
                    @include opacity(100);
                }
            }
        }
    }
}

.lesson-activity {
    .slides {
        img {
            margin: 0 auto; 
        }
    }
    @media screen and (max-width: $screen-xs-max) {
        padding: 0;
    }
}

