// Shared course header
// --------------------------------------------------

.main-header {
    background-color: $brand-secondary;
    color: white;
    padding: 15px 0 0;
    @media screen and (min-width: $screen-xs-min) {
        padding: 20px 0;
    }
    .page-header {
        border: 0;
        margin: 0;
        h1 {
            font-size: 18px;
            margin: 0;
            text-transform: uppercase;
            span {
                display: inline-block;
            }
        }
    }
    .course-name {
        font-size: 30px;
        margin: 0;
    }
    .course-slug {
        margin-bottom: 5px;
        label {
            color: inherit;
            font-weight: normal;
        }
    }
    .course-details {
        font-size: $font-size-small;
        margin-top: 5px;
        text-transform: uppercase;
        .label {
            color: $gray;
            font-weight: normal;
            padding: 0;
            font-size: inherit;
        }
        a {
            color: $brand-primary;
            &:hover {
                color: darken($brand-primary, 10%);
            }
            &.course-instructor:after {
                content: " // ";
                color: black;
                margin-right: 3px;
            }
            &:last-child:after {
                content: "";
            }
        }
    }
    .course-sections {
        border-bottom: 1px solid darken($brand-secondary, 10%);
        border-top: 1px solid darken($brand-secondary, 10%);
        margin: 10px -15px 0;
        @media screen and (min-width: $screen-sm-min) {
            border: 0;
            margin: 0;
        }
        @media screen and (min-width: $screen-sm-min) {
            text-align: right;
        }
        a {
            border-right: 1px solid darken($brand-secondary, 10%);
            color: white;
            display: inline-block;
            font-size: 9px;
            font-weight: $bold;
            height: 65px;
            margin-left: -1%;
            padding: 2%;
            vertical-align: top;
            text-align: center;
            width: 24.1%;
            &:last-of-type {
                border-right: 0;
            }
            @media screen and (min-width: $screen-xs-min) {
                height: auto;
                font-size: 10px;
                padding: 2.5% 4%;
            }
            @media screen and (min-width: $screen-sm-min) {
                @include link-hover(white, white, transparent, white);
                border-bottom-width: 2px !important;
                border-right: 0;
                margin: 0 5px;
                padding: 0;
                width: auto;
            }
            @media screen and (min-width: $screen-md-min) {
                margin: 0 8px;
            }
            &:before {
                display: block;
                font-size: $font-size-large;
            }
        }
        &.admin-menu {
            a {
                width: 20.5%;
                &:last-of-type {
                    border-right: 1px solid darken($brand-secondary, 10%);
                }
                @media screen and (min-width: $screen-sm-min) {
                    padding: 0;
                    width: auto;
                    &:last-of-type {
                        border-right: 0;
                    }
                }
            }
        }
        .intro {
            @extend %icon-home;
        }
        .materials {
            @extend %icon-materials;
        }
        .notes {
            @extend %icon-notes;
        }
        .resume {
            @extend %icon-film;
        }
        .tools {
            @extend %icon-tools;
        }
        .forum {
            @extend %icon-forum;
        }
        .dropdown {
            float: right;
            height: 65px;
            width: 18%;
            @media screen and (min-width: $screen-sm-min) {
                display: inline-block;
                float: none;
                height: auto;
                padding: 0;
                width: auto;
            }
            .tools {
                border: 0 !important;
                height: 65px;
                padding: 15% 24%;
                width: auto;
                @media screen and (min-width: $screen-sm-min) {
                    height: auto;
                    padding: 0;
                }
            }
            .dropdown-menu {
                border: 0;
                border-radius: 0;
                padding: 0;
                li {
                    a {
                        @include button-hover($text-color, white, lighten($brand-secondary, 15%), $brand-secondary);
                        border: 0;
                        font-size: $font-size-small;
                        height: auto !important;
                        margin: 0;
                        max-width: auto;
                        padding: 6px 12px;
                        text-align: left;
                        width: 100%;
                    }
                    &:nth-child(even) {
                        a {
                            @include button-hover($text-color, white, lighten($brand-secondary, 30%), $brand-secondary);
                        }
                    }
                }
            }
        }
    }
    .lesson-units {
        margin-top: 5px;
        .lesson-list-dropdown {
            .dropdown-toggle {
                background: transparent;
                border: 0;
                box-shadow: none;
                font-size: $font-size-small;
                padding: 0;
                text-align: left;
                width: 100%;
                @media screen and (min-width: $screen-lg-min) {
                    font-size: 16px;
                }
                .lesson-name {
                    @extend %icon-caret-down;
                    &:after {
                        margin-left: 5px;
                    }
                }
            }
            .dropdown-menu {
                border: 0;
                border-radius: 0;
                border-top: 2px solid $gray-light;
                background-color: $gray-lighter;
                font-size: $font-size-small;
                margin-top: 10px;
                padding: 0;
                width: 100%;
                @media screen and (min-width: $screen-lg-min) {
                    font-size: 16px;
                }
                li {
                    a {
                        color: $text-color;
                        padding: 10px 15px;
                        white-space: normal;
                    }
                    &:nth-child(even) {
                        a {
                            background-color: darken($gray-lighter,10%);
                            &:hover {
                                background-color: darken($gray-lighter,15%);
                            }
                        }
                    }
                }
            }
        }
    }
}

.lesson-units-mobile, .lesson-units-nav-mobile {
    border: 1px solid darken($brand-secondary, 10%);
    border-radius: 14px;
    display: block;
    font-size: $font-size-small;
    height: 26px;
    margin-top: 5px;
    padding: 0 10px;
    .lesson-breadcrumb {
        display: block;
        margin-top: 3px;
    }
    .form-control {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        color: black;
        float: left;
        font-size: $font-size-small;
        font-weight: $bold;
        height: 18px;
        margin-top: -18px;
        padding: 0 0 0 50px;
        position: relative;
        z-index: 1;
    }
}

.help-text {
    color: $gray;
    font-size: 11px;
    margin-bottom: 5px;
}

// Course content (used on course intro and lesson page)
// -----------------------------------------------------

.course {
    @media screen and (min-width: 1025px) {
        margin-top: -30px;
    }
    .page {
        @media screen and (min-width: $screen-lg-min) {
            margin-top: 30px;
        }
        .page-header {
            h1, h2, h3, h4, h5, h6 {
                @media screen and (min-width: $screen-xs-min) {
                    font-size: 36px;
                }
            }
            .btn {
                float: right;
                margin-top: 10px;
            }
            .row:last-child {
                margin-top: 20px;
            }
        }
    }

}

.course-content {
    margin: 25px auto;
    padding: 0 15px;

    @media screen and (min-width: $screen-xs-min) {
        margin: 40px auto;
    }

    // COURSE SUMMARY - Course intro
    // ********************************************************************* //
    .summary {
        .btn-info .text-info {
            // data selecionada dentro do datepicker
            color: #fff;
        }
    }
    // COURSE LESSONS - Course intro
    // ********************************************************************* //
    .scssons {
        margin-top: 20px;
        .scsson {
            margin-bottom: 40px;
            margin-top: 20px;
            .title {
                display: block;
                font-size: 16px;
                font-weight: regular;
            }
            .description {
                font-size: 13px;
            }
            .editable {
                ul {
                    margin: 0 0 15px 0;
                    padding: 0 0 0 29px;
                    li {
                        margin: 0;
                    }
                }
            }
            li {
                margin: 36px 0;
            }
        }
        // END LESSON
        .table {
            margin-bottom: 7px;
            tr {
                td {
                    border: none;
                    margin: 0;
                    padding: 0;
                    a {
                        color: #fff;
                    }
                }
            }
        }
        // END TABLE
        i.fa-youtube-play {
            color: $brand-danger;
        }
        i.fa-list {
            color: $brand-info;
        }
    }
    // END LESSONS
    .next-lesson {
        background-color: rgba($gray,0.3);
        height: 347px;
        padding: 30px;
        text-align: center;
        @media (min-width: $screen-lg-min) {
            height: 423px;
        }
        &:before {
            content: '';
            height: 100%;
            @include vertical-align(middle);
        }
        .centered {
            @include vertical-align(middle);
            width: 98%;
        }
    }
    // COURSE INSTRUCTORS - Course intro
    // ********************************************************************* //
    .instructors {
        margin-top: 20px;
        .instructor {
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .fullname {
            color: #000;
            font-family: $font-family-sans-serif;
            font-size: 18px;
            font-weight: $bold;
            text-transform: none;
        }
        .job-title {
            border-bottom: 1px solid $gray-lighter;
            @include bottom(9px, 9px);
            font-size: 14px;
        }
        .instructor-photo {
            margin-bottom: 10px;
            max-width: 260px;
        }
        .instructor-wrapper {
            display: block;
            overflow: hidden;
            &:hover {
                .editable {
                    background-color: lighten($brand-warning, 40%);
                }
                .instructor-photo {
                    img {
                        opacity: 0.8;
                    }
                }
            }
        }
        .missing-avatar {
            border: 1px solid #ddd;
            text-align: center;
            &:before {
                content: '';
                @include vertical-align(middle);
            }
            .centered {
                margin: -16px 4px 4px 4px;
                @include vertical-align(middle);
                @include calculate-width(8px);
                i {
                    background: #ddd;
                    color: #c0c0c0;
                    display: block;
                    font-size: 72px;
                    padding: 27px 0;
                }
            }
        }
        // END INSTRUCTOR
    }
    // END INSTRUCTORS
    // COURSE THUMBNAIL - General
    // ********************************************************************* //
    .thumbnail {
        border: 1px solid $gray-lighter;
        padding: 0;
        #admin & {
            @include top(20px);
        }
        .thumbnail-title {
            margin: 2px 10px 0;
        }
        .btn-edit-thumbnail {
            margin: 5px;
        }
        .add-thumbnail {
            text-align: center;
        }
    }
    .uploaded-lesson-thumbnail {
        max-height: 845px;
        max-width: 845px;
        margin-bottom: 30px;
        overflow: auto;
    }
    // END COURSE VIDEO
    // COURSE VIDEO - General
    // ********************************************************************* //
    .course-video {
        margin: 0 auto 0px;
        max-width: 720px;
    }
    .video,
    .activity,
    .course-thumbnail {
        background-color: rgba(#fff,0.5);
        margin-top: 10px;
        // padding: 15px;
        .video-title {
            background-color: $gray-lighter;
            margin: 10px 0 0 10px;
        }
        .btn-edit-video {
            margin: 5px 10px 0 0;
        }
        .img-responsive {
            margin: 10px auto;
        }
    }
    // END COURSE VIDEO
}

// Course notes
// -----------------------------------------------------

.student-notes {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    @media screen and (min-width: $screen-sm-min) {
        left: 100px;
    }
    .show-note {
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .notes-container {
        background-color: #fff;
        border-radius: 10px 10px 0 0;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        @media screen and (min-width: $screen-xs-min) {
            left: 100px;
        }
        .notes-header {
            background-color: $brand-success;
            border-radius: 10px 10px 0 0;
            padding: 10px 15px;
            h4 {
                color: #fff;
                display: inline-block;
                font-family: $font-family-sans-serif;
                font-size: 16px;
                font-weight: $bold;
                margin: 0 10px 0 0;
            }
            .all-notes {
                @extend %icon-angle-right;
                display: none;
                font-size: $font-size-small;
                line-height: $font-size-small;
                @include link-hover(#fff,#fff,#fff,transparent);
                &:after {
                    margin-left: 5px;
                }
                @media screen and (min-width: $screen-sm-min) {
                    display: inline-block;
                }
            }
            .btn {
                font-weight: $semi-bold;
            }
            .save {
                float: right;
                margin: -2px 15px 0 0;
                &:before {
                    vertical-align: middle;
                }
            }
            .hide-note {
                float: right;
                margin: -2px 0 0 0;
            }
        }
        .notes-content {
            padding: 15px;
            textarea {
                border: 0;
                width: 100%;
            }
        }
    }

    .notes-success-message {
        background: $brand-success;
        border-radius: 20px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        color: #fff;
        font-family: $font-family-sans-serif;
        font-size: 16px;
        font-weight: $bold;
        left: 50%;
        margin-left: -125px;
        padding: 5px 13px;
        position: absolute;
        top: 50%;
    }
}

.main-nav-opened {
    .student-notes {
        left: 250px;
        .notes-container {
            left: 250px;
        }
    }
}

// Course units navigation
// -----------------------------------------------------

.course {
    .lesson-units-nav {
        display: none;
        position: relative;
        @media screen and (min-width: $screen-sm-min) {
            display: block;
        }
        .line {
            background: $brand-tertiary;
            height: 3px;
        }
        .progress {
            background: #9b9b9b;
            border-radius: 0;
            box-shadow: none;
            height: 3px;
            margin-bottom: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            .progress-bar {
                background: $brand-primary;
            }
        }
        .container-fluid {
            margin-top: -3px;
            max-width: 1050px !important;
        }
    }
    .units {
        width: 100%;
        .units-title {
            background: $brand-primary;
            color: #fff;
            display: block;
            float: left;
            font-size: $font-size-base;
            font-weight: $semi-bold;
            height: 25px;
            margin-top: -9px;
            padding: 2.5px 10px;
            text-align: center;
        }
        .unit {
            @include button-hover(#333, white, $brand-tertiary, $brand-primary);
            border-radius: 100%;
            display: block;
            float: left;
            font-size: $font-size-base;
            font-weight: $semi-bold;
            height: 20px;
            margin: -10px 0 20px 3%;
            text-align: center;
            width: 20px;
            &.current {
                box-sizing: border-box;
                height: 29px;
                font-size: 16px;
                margin-top: -12px;
                padding: 2px;
                width: 29px;
                span {
                    border: 2px solid #fff;
                    border-radius: 100%;
                    display: block;
                    height: 25px;
                    width: 25px;
                    @include transition(all 0.5s ease);
                }
            }
            &.current {
                background-color: $brand-primary;

                span {
                    @include button-hover(#333, white, $brand-tertiary, $brand-primary);
                }
            }
            &.done {
                span {
                    @include button-hover(#333, white, #ddd, $brand-primary);
                }
            }
            span {
                border-radius: 100%;
                display: block;
                height: inherit;
                width: inherit;
            }
        }
        // END UNIT
        // ADD UNIT
        .add-unit {
            background-color: $brand-success;
            padding: 0;
            text-align: center;
            &:hover {
                background-color: darken($brand-success, 10%);
            }
            i {
                position: static;
            }
        }
        // END ADD UNIT
    }
    // END COURSE UNITS
    .lesson-list {
        .primary-page-header {
            h3 {
                display: inline-block;
                margin: 0 15px 15px 0;
                vertical-align: middle;
            }
        }
        .lesson {
            background: transparent;
            margin-bottom: 30px;

            .img-responsive {
                margin-left: -20px;
                max-width: 130%;
            }
            .title {
                color: #000;
                font-family: $font-family-sans-serif;
                font-size: $font-size-large;
                font-weight: $bold;
                margin: 0 0 10px;
                @media screen and (min-width: $screen-xs-min) {
                    font-size: $font-size-large;
                }
            }
            .description {
                color: #000;
                font-size: $font-size-base;
                margin-bottom: 30px;
                @media screen and (min-width: $screen-xs-min) {
                    font-size: 16px;
                }
            }
            .options {
                margin-bottom: 10px;
                text-align: right;
                @media screen and (min-width: $screen-sm-min) {
                    .btn + .btn {
                        margin-top: 10px;
                    }
                }
                .lesson-status {
                    margin-bottom: 10px;
                    @media screen and (min-width: $screen-sm-min) {
                        .btn + .btn {
                            margin-top: 0px;
                        }
                        .fa {
                            font-size: 15px;
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
    }
}

.course-lesson {
    .lesson-content {
        margin: 0 auto;
        max-width: 720px !important;

        .lesson-info {
            margin-top: 30px;
            .page-header {
                margin-bottom: 20px;
            }
            .lesson-materials {
                margin-top: 20px;
            }
        }
    }
    .live-lesson-content {
        margin: 0 auto;
        max-width: 1220px !important;
        height: 100%;

        #live-chat {
            height: 300px;
            width: 100%;
        }

        @media screen and (min-width: 800px) {
            .video {
                float: left;
                width: 70%;
            }

            #live-chat {
                width: 30%;
                height: 500px;
            }
        }

        @media screen and (min-width: 1200px) {
            .video {
                float: left;
                width: 70%;
            }

            #live-chat {
                width: 30%;
                height: 700px;
            }
        }
    }
}

.unit-name {
    color: #000;
    font-size: 25px;
    margin-top: 0px;
}

.course-intro {
    .course-content {
        max-width: 1050px !important;

        .course-info {
            margin-bottom: 40px;
            @media screen and (min-width: $screen-md-min) {
                display: flex;
            }
            .column {
                background-color: $gray-lighter;
                box-sizing: border-box;
                padding: 20px;
                @media screen and (min-width: $screen-xs-min) {
                    padding: 30px;
                }
                @media screen and (min-width: $screen-md-min) {
                    width: 60%;
                }
                &:last-child {
                    background-color: darken($gray-lighter,5%);
                    @media screen and (min-width: $screen-md-min) {
                        width: 40%;
                    }
                }
            }

            .another-info {
                margin-top: 30px;
            }
        }
    }
}

.course-stats {
    .students, .scssons {
        margin: 20px 0 0;
        padding: 0;
        list-style: none;
    }
    .students li {
        margin-bottom: 20px;
    }
}

// UPLOADED FILES LIST
ul.uploaded-files-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        border-bottom: 1px solid $gray-lighter;
        padding: 5px 0;
    }
}
.course-material {
    @media (max-width: $screen-xs-min) {
        blockquote {
            p {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 14px;
            }
        }
    }
    .uploaded-files-list {
        h4 {
            font-family: $font-family-sans-serif;
            font-size: $font-size-base;
            font-weight: $bold;
        }
        li {
            height: 35px;
            width: 100%;
        }
        a {
            float: left;
            max-width: 80%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
