// common styles, i.e. dashboard's widget and messages' page

.messages {
    .message {
        .message-subject {
            font-family: $font-family-sans-serif;
            font-size: $font-size-large;
            font-weight: $bold;
        }
        .message-body {
            margin-bottom: 20px;
            padding-left: 20px;
        }
    }
    &.message-single {
        .page {
            background-color: rgba(#fff,0.3);
        }
    }
}

// messages' page styles

.messages-list {
    .page-header {
        background: $brand-primary;
        display: flex;
        justify-content: space-between;

        h2 {
            @extend %icon-messages;
            color: #fff !important;
            font-size: 48px !important;
            text-transform: lowercase;
            &:before {
                font-size: 36px;
                @media screen and (min-width: $screen-sm-min) {
                    margin-right: 10px;
                }
            }
        }
        .btn {
            margin-top: 3.5px;
        }
    }
    .title-header {
        display: flex;
        align-items: baseline;
        margin-bottom: 25px;
        h3 {
            font-size: 30px;
            margin: 0 15px 0 0;
        }
    }
    .message {
        margin-bottom: 20px;
        .message-body {
            border-left: 2px solid #fff;
            margin: 0;
            .message-header {
                display: flex;
                font-size: 14px;
                line-height: 1;
                margin-bottom: 10px;
                .message-subject {
                    border-right: 1px solid;
                    font-size: 14px;
                    line-height: inherit;
                    margin: 0 10px 0 0;
                    padding: 0 10px 0 0;
                }
            }
            .message-text {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: rgba(255,255,255,0.5);
                padding: 15px 20px;
                p {
                    margin: 0 20px 0 0;
                }
            }
        }
        &.unread {
            .message-body {
                border-left: 5px solid $brand-primary;
                .see-more {
                    @include button-hover(#fff,#fff,$brand-primary,darken($brand-primary, 5%));
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .course_messages_group {
        margin-bottom: 30px;
    }
}
